@import "../../../styles/variables";

.brands_container {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 130px auto 50px;
  max-width: 2000px;
  width: 100%;

  .brands_logo {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 1rem;
    justify-content: center;
    align-items: center;

    .flexAuto {
      width: 25%;
      text-align: center;
      margin: 2rem 0;
    }
  }
}

@media screen and (max-width: $lg) {
  .brands_container {
    margin: 100px auto 50px;

    h3 {
      font-size: 1.5rem;
      max-width: 70%;
      margin: auto auto 1rem;
      line-height: 40px;
    }

    .brands_logo {
      img {
        max-width: 150px;
      }
      .flexAuto {
        width: 33%;
        text-align: center;
        margin: 2rem 0;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .brands_container {
    margin: 80px auto 50px;
    
    h3 {
      font-size: 1.25rem;
      max-width: 90%;
      line-height: 30px;
      margin-bottom: 2rem;
    }

    .brands_logo {
      img {
        max-width: 110px;
        width: 100%;
      }
      .flexAuto {
        width: 50%;
        text-align: center;
        margin: 1.2rem 0;
      }
    }
  }
}

