@import "../../../styles/variables";

.blog_collection_container {
  padding: 120px 4% 0;
  max-width: 2000px;
  margin: 0 auto;
  width: 92%;

  .featured_post_grid {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: auto 17% 17%;
    grid-template-rows: repeat(2, minmax(300px, auto));
    margin-bottom: 10px;

    .featured_post {
      height: 100%;
      width: 100%;
      overflow: hidden;
      text-decoration: none;

      .featured_post_cover {
        height: 60%;
        border-radius: 30px;
        box-shadow: 0 3px 6px #00000029;
        margin-bottom: 15px;
      }

      span {
        color: #2562FF;
        margin-right: 15px;
      }

      h3 {
        font-size: 22px;
        font-weight: bold;
        color: #000000;
      }

      .featured_post_description {
        max-width: 90%;
        color: #000000;
      }

      &:first-child {
        grid-row: 1 / span 2;
        grid-column: 1 / span 1;
      }

      &:nth-child(2) {
        grid-column: 2 / span 2;
      }

      &:nth-child(3) {
        grid-column: 2 / span 2;
      }
    }
  }

  .collection_title {
    font-size: 2.125rem;
    text-align: center;
  }

  .tags_section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 800px;
    justify-content: center;
    margin: auto;

    .tag {
      padding: 6px 20px;
      border: 1px solid #000000;
      border-radius: 20px;
      margin-right: 15px;
      margin-bottom: 20px;
      font-size: 0.875rem;
      text-decoration: none;
      color: #000000;
      text-transform: capitalize;
    }
  }

  .articles_list {
    display: grid;
    margin: 60px 0 150px;
    grid-auto-flow: row;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 40px;
    height: 100%;

    .article {
      min-height: 450px;
      height: 100%;
      width: 100%;
      text-decoration: none;
      overflow: hidden;

      .article_cover {
        height: 58%;
        border-radius: 30px;
        box-shadow: 0 3px 6px #00000029;
        margin-bottom: 15px;
      }

      span {
        color: #2562FF;
        margin-right: 15px;
      }

      h3 {
        font-size: 20px;
        font-weight: bold;
        color: #000000;
        text-overflow: ellipsis;
        //overflow: hidden;
        //white-space: nowrap;
      }

      .article_description {
        color: #000000;
        font-size: 0.875rem;
        overflow: hidden;
        line-height: 1.25rem;
        max-height: 60px;
        -webkit-box-orient: vertical;
        display: block;
        display: -webkit-box;
        text-overflow: ellipsis;
        -webkit-line-clamp: 3;
      }
    }
  }
}

@media screen and (max-width: $lg) {
  .blog_collection_container {

    .featured_post_grid {
      margin-bottom: 100px;
    }

    .articles_list {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

@media screen and (max-width: $md) {
  .blog_collection_container {
    .collection_title {
      font-size: 1.75rem;
    }
    
    .articles_list {
      margin: 50px 0 130px;
      grid-gap: 20px;

      .article {
        min-height: 400px;

        .article_cover {
          height: 50%;
        }
      }
    }
  }
}

@media screen and (max-width: $sm) {
  .blog_collection_container {
    padding: 100px 4% 0;

    .featured_post_grid {
      grid-gap: 15px;
      grid-template-columns: 100%;
      grid-template-rows: 460px;
      //grid-template-rows: 460px 150px 150px;
      margin-bottom: 80px;

      .featured_post {

        span {
          font-size: 12px;
          margin-right: 10px;
        }

        h3 {
          font-size: 18px;
          margin: 12px 0;
        }

        .featured_post_description {
          max-width: 100%;
          font-size: 14px;
        }

        .featured_post_cover {
          border-radius: 20px;
        }

        &:first-child {
          grid-row: 1 / span 1;
          grid-column: 1 / span 1;

          p {
            font-size: 0.85rem;
            overflow: hidden;
            line-height: 1.25rem;
            max-height: 60px;
            -webkit-box-orient: vertical;
            display: block;
            display: -webkit-box;
            text-overflow: ellipsis;
            -webkit-line-clamp: 3;
          }
        }

        &:nth-child(2) {
          grid-row: 2 / span 1;
          grid-column: 1 / span 1;
        }

        &:nth-child(3) {
          grid-row: 3 / span 1;
          grid-column: 1 / span 1;
        }

        &:nth-child(2),
        &:nth-child(3) {
          display: flex;

          .featured_post_cover {
            height: 100%;
            max-width: 250px;
            margin-bottom: 0;
            margin-right: 10px;
          }
        }
      }
    }

    .collection_title {
      font-size: 1.5rem;
      text-align: center;
      margin-bottom: 15px;
    }

    .tags_section {
      max-width: 90%;

      .tag {
        padding: 6px 15px;
        margin-right: 10px;
        margin-bottom: 15px;
        font-size: 0.75rem;
      }
    }

    .articles_list {
      display: grid;
      margin: 50px 0 100px;
      grid-template-columns: repeat(1, 1fr);
      grid-gap: 30px;

      .article {
        min-height: 330px;

        span {
          font-size: 12px;
          margin-right: 10px;
        }

        h3 {
          font-size: 18px;
          margin: 10px 0;
        }

        .article_description {
          font-size: 0.75rem;
          line-height: 1.15rem;
        }
      }
    }
  }
}