@import "../../../styles/variables";

.header_container {
  background: url("../../../images/home/header/header-background.webp") no-repeat top center;
  background-size: 100% 100%, cover;
  height: 85vh;
  min-height: 900px;
  width: 100%;
  display: flex;
  align-items: center;

  .header_content {
    padding: 200px 4% 200px;
    max-width: 2000px;
    margin: 0 auto 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 92%;

    .header_text_section {
      width: calc(40% - 30px);
      height: 100%;
      padding-right: 40px;

      h3 {
        font-weight: 500;
      }

      input {
        border: none;
        max-width: 300px;
        width: 100%;
      }

      .button_section {
        display: flex;
        width: 100%;
        align-items: center;

        button {
          background-color: #2E2E2E;
          margin-right: 20px;
        }

        h6 {
          font-size: 0.875rem;
          margin: 0;
          font-weight: 400;
        }
      }
    }

    .header_screens {
      width: calc(60% - 100px);
      height: 100%;
      max-height: 690px;

      img {
        max-height: 690px;
        max-width: 100vw;
        width: 100%;
        height: auto !important;
        object-fit: contain !important;
      }
    }
  }
}

@media screen and (max-width: $lg) {
  .header_container {
    background: #F6F4F3;
    height: auto;
    width: 100%;
    min-height: 100%;

    .header_content {
      padding: 0 0;
      flex-direction: column;
      width: 100%;

      .header_text_section {
        width: 92%;
        padding: 130px 4% 0;
        max-width: 500px;

        input {
          max-width: calc(100% - 50px);
          width: 100%;
        }
      }

      .header_screens {
        width: 100%;
        height: 100%;
        max-height: 690px;

        & > div {
          overflow: visible !important;
          margin: 0 15px;
        }

        img {
          top: 5vh !important;
          max-height: 690px;
          max-width: 100vw;
          width: 100%;
          height: auto !important;
          object-fit: contain !important;
          object-position: center !important;
        }
      }
    }
  }
}

@media screen and (max-width: $md) {
  .header_container {

    .header_content {

      .header_screens {
        max-height: 670px;

        & > div {
          margin: 0;
        }

        img {
          top: 4vh !important;
          object-fit: contain !important;
          object-position: top left !important;
        }
      }
    }
  }
}
