@import "../../../styles/variables";

.open_positions_container {
  padding: 200px 4% 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 2000px;
  margin: auto;
  width: calc(100% - 8%);

  .filter_options_row {
    width: 90%;
    text-align: end;
    justify-content: flex-end;
    margin-top: 60px;

    span {
      font-size: 1.125rem;
    }

    .filter_button {
      margin: 0 10px 40px;
      width: 214px;
      background: #FFFFFF 0 0 no-repeat padding-box;
      box-shadow: 0 3px 6px #00000029;
      border-radius: 20px;
      font-size: 1rem;
      color: #000000;

      &:first-of-type {
        margin-left: 25px;
      }
    }
  }

  .positions_list_container {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: auto;

    .position {
      margin: 10px 0;

      .category_name {
        min-width: 250px;
        color: #FFFFFF;
        background: #2562FF 0 0 no-repeat padding-box;
        box-shadow: 0 3px 6px #00000029;
        border-radius: 30px;
        font-size: 1.5rem;
        font-weight: 600;
        padding: 10px 20px;
        cursor: auto;
        margin-top: 10px;
      }

      .position_item {
        list-style: none;
        background: #FFFFFF 0 0 no-repeat padding-box;
        box-shadow: 0 3px 6px #00000029;
        border-radius: 20px;
        margin: 20px 0 10px;
        padding: 10px 60px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;

        span {
          font-size: 1.125rem;
        }
      }

      .applyButton {
        min-width: 150px;
        color: #FFFFFF;
        background: #2562FF 0 0 no-repeat padding-box;
        box-shadow: 0 3px 6px #00000029;
        border-radius: 30px;
        font-size: 1rem;
        font-weight: 600;
        padding: 10px 10px;
        cursor: auto;
      }
    }
  }

  .see_more {
    margin-top: 20px;
    cursor: pointer;

    &:hover {
      font-weight: 500;
    }
  }
}

@media screen and (max-width: $lg){
  .open_positions_container {
    padding: 130px 4% 0;

    .filter_options_row {
      text-align: center;
      margin-top: 30px;

      span {
        font-size: 1rem;
      }
    }

    .positions_list_container {
      .position {
        margin: 10px 0;

        .category_name {
          font-size: 1.3rem;
          margin-top: 10px;
        }

        .position_item {
          span {
            font-size: 1rem;
          }
        }
      }
    }
  }
}

@media screen and (max-width: $md){
  .open_positions_container {
    padding: 95px 4% 0;

    .filter_options_row {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 30px;

      .filter_button {
        margin: 20px 0 0;
        font-size: 1rem;

        &:first-of-type {
          margin-left: 0;
        }
      }
    }

    .positions_list_container {
      margin-top: 30px;
      .position {
        margin: 10px 0;
        text-align: center;

        .category_name {
          font-size: 1.3rem;
          margin-top: 10px;
        }

        .position_item {
          span {
            margin: auto;
            &:not(:first-child){
              display: none;
            }
          }
        }
      }
    }

    .see_more {
      font-size: 1rem;
    }
  }
}
