@import "../../../styles/variables";

.about_header_container {
  background: url("../../../images/home/header/header-background.webp") no-repeat top center;
  background-size: 100% 100%, cover;
  height: 92vh;
  min-height: 900px;
  width: 100%;
  display: flex;
  align-items: center;

  .about_header_content {
    padding: 130px 4% 200px;
    max-width: 2000px;
    margin: 0 auto 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 92%;
    min-height: 450px;

    .about_header_text_section {
      width: calc(41% - 30px);
      max-width: 500px;
      height: 100%;
      padding-right: 40px;

      h1 {
        max-width: 270px;
        font-size: 5rem;
        line-height: 90px;
      }

      h3 {
        font-weight: 400;
      }

      .play_video_row {
        display: flex;
        align-items: center;
        max-width: 360px;
        margin-top: 30px;

        span, a {
          font-size: 1.125rem;
          line-height: 24px;
          margin-left: 15px;
          color: #000000;
          text-decoration: none;
        }

        img {
          max-width: 50px;
          max-height: 50px;
        }
      }
    }

    .about_header_video {
      max-width: 1300px;
      height: var(--height);
      width: 90%;
      //display: flex;

      & .youtube_video {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
      }

      iframe {
        width: 100%;
        display: flex;
        border-radius: 15px;

        body {
          background-color: transparent !important;
        }
      }
    }
  }
}

@media screen and (max-width: $lg) {
  .about_header_container {
    background: url("../../../images/about/about-background-mobile.webp") no-repeat top center;
    background-size: 100% 100%, cover;
    height: 100%;

    .about_header_content {
      padding: 200px 4% 230px;
      flex-direction: column;
      text-align: left;

      .about_header_text_section {
        width: 100%;
        max-width: 100%;
        height: 100%;
        padding-right: 0;

        h1 {
          max-width: 100%;
          text-align: left;
        }

        h3 {
          text-align: left;
          max-width: 200px;
          margin-right: auto;
          margin-left: 15px;
          line-height: 34px;
        }
      }

      .about_header_video {
        width: 100%;
        flex-direction: column;

        & .youtube_video {
          margin: 40px auto 0;
        }
      }

      .icon_section_row {
        display: flex;
        flex-wrap: wrap;
        margin-top: 50px;
      }

      .play_video_row {
        display: flex;
        align-items: center;
        max-width: 380px;
        margin: 10px 40px 10px 0;

        span, a {
          font-size: 1.125rem;
          line-height: 24px;
          margin-left: 15px;
        }

        img {
          width: 50px;
          height: 50px;
        }
      }
    }
  }
}

@media screen and (max-width: $md) {
  .about_header_container {
    min-height: 80vh;

    .about_header_content {
      padding: 100px 4% 100px;
      flex-direction: column;
      text-align: left;

      .about_header_text_section {

        h1 {
          font-size: 2.5rem;
          line-height: 38px;
        }

        h3 {
          max-width: 180px;
          width: 60% ;
          font-size: 1.125rem;
          line-height: 30px;
        }
      }

      .about_header_video {
        & .youtube_video {
          margin: 40px auto 0;
        }
      }

      .play_video_row {
        max-width: 340px;
        width: 90%;
      }
    }
  }
}
