@import "../../../styles/variables";

.save_time_wrapper {
  padding: 100px 4% 0;
  max-width: 2000px;
  margin: 0 auto;
  width: calc(100% - 8%);

  .save_time_content {
    background: #F7FAFC 0 0 no-repeat padding-box;
    box-shadow: 0 3px 6px #00000029;
    border-radius: 30px;
    opacity: 1;
    height: 100%;
    min-height: 700px;
    padding: 4% 3%;
    text-align: center;

    span {
      color: #2562FF;
      font-weight: 600;
      text-align: center;
      margin: 0 auto;
      width: 100%;
    }

    h2 {
      margin: 25px 0;
    }

    .advantages {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      margin-top: 4%;

      button {
        margin-top: 6%;
        background: transparent linear-gradient(90deg, #2562FF 0%, #20C8FD 100%) 0 0 no-repeat padding-box;
      }
    }

    .advantages_image {
      width: 46%;

      img {
        width: 100%;
        max-width: 700px;
      }
    }
  }
}

@media screen and (max-width: $lg) {
  .save_time_wrapper {
    padding: 80px 4% 4%;

    .save_time_content {
      height: 100%;
      min-height: 700px;
      margin: 30px 15px 0;
      padding: 30px 15px;

      h2 {
        max-width: 80%;
        margin: 25px auto;
      }

      .advantages {
        width: 90%;
        flex-direction: column;
        margin: 20px auto 0;

        button {
          margin-top: 30px;
          max-width: 70%;
          width: auto;
          padding: 10px 25px;
        }
      }

      .advantages_image {
        width: 70%;
        margin-top: 50px;

        img {
          width: 100%;
          max-width: 700px;
        }
      }
    }
  }
}

@media screen and (max-width: $md) {
  .save_time_wrapper {
    padding: 80px 4% 4%;

    .save_time_content {
      height: 100%;
      width: 90%;
      min-height: 700px;
      margin: 30px auto 0;
      padding: 30px 3% 20px;

      h2 {
        max-width: 100%;
      }

      span {
        margin: 0 auto;
        width: 100%;
      }

      .advantages {
        width: 100%;

        button {
          margin-top: 20px;
          max-width: 90%;
        }
      }

      .advantages_image {
        width: 96%;
        margin-top: 50px;

        img {
          width: 100%;
          max-width: 600px;
        }
      }
    }
  }
}
