@font-face {
    font-family: 'Avenir';
    font-weight: 900;
    font-display: swap;
    font-style: normal;
    font-named-instance: 'Black';
    src: url('Avenir-Black.woff2') format('woff2'),
         url("AvenirLTStd-Black.otf") format("otf");
}

@font-face {
    font-family: 'Avenir';
    font-weight: 100;
    font-display: swap;
    font-named-instance: 'Book';
    src: url("Avenir-Book.woff2") format('woff2'),
         url("AvenirLTStd-Book.otf") format("otf");
}

@font-face {
    font-family: 'Avenir';
    font-weight: 400;
    font-display: swap;
    font-named-instance: 'Medium';
    src: url("Avenir-Medium.woff2") format("woff2");
}

@font-face {
    font-family: 'Avenir';
    font-weight: 700;
    font-display: swap;
    font-named-instance: 'Roman';
    src: url("Avenir-Roman.woff2") format("woff2"),
         url("AvenirLTStd-Roman.otf") format("otf");
}
