@import "../../styles/variables";

.know_more_container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 0 5%;
  margin: 100px auto;
  max-width: 2000px;

  .question {
    width: 53%;
    background: transparent radial-gradient(closest-side at 50% 50%, #ECFAFD 0%, #FFFFFF 100%) 0 0 no-repeat padding-box;

    h2 {
      font-size: 3rem;
      font-weight: 900;
    }
  }

  .contact {
    .lottie {
      margin-top: 50px;
      transform: scaleX(-1);
    }
  }

  button {
    background: transparent linear-gradient(90deg, #2562FF 0%, #20C8FD 100%) 0 0 no-repeat padding-box;
  }
}

@media screen and (max-width: $lg){
  .know_more_container {
    padding: 0 4%;
    margin: 70px auto;

    .question {
      width: 50%;

      h2 {
        font-size: 2rem;
      }
    }
  }
}

@media screen and (max-width: $md){
  .know_more_container {
    flex-direction: column;
    background: transparent radial-gradient(closest-side at 50% 50%, #ECFAFD 0%, #FFFFFF 100%) no-repeat center;
    background-size: 80% 50%;
    margin: 60px auto;

    .question {
      width: 90%;
      align-self: flex-start;
      background: none;

      h2 {
        font-size: 1.875rem;
        line-height: 40px;
      }
    }

    .contact {
      max-width: 150px;
      .lottie {
        margin: 40px auto;
        transform: rotate(200deg);
      }
    }
  }
}
