@import "../../../styles/variables";

.job_description_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .job_description_container {
    background: transparent radial-gradient(closest-side at 50% 50%, #F0FAF8 0%, #FFFFFF 100%) 0 0 no-repeat padding-box;
    background-size: 40% 400px, contain;
    background-position: top center;
    padding: 0 4% 0;
    max-width: 2000px;
    margin: 200px auto auto;
    min-height: 400px;

    .job_description_header {
      text-align: center;

      h3 {
        margin: 0 0 18px;
      }

      a {
        color: #2562FF;
        font-size: 1.125rem;
        font-weight: 100;
      }
    }

    .job_description {
      margin-top: 100px;
      max-width: 1000px;

      p {
        font-size: 1.125rem;
        margin-bottom: 30px;
        line-height: 34px;
      }

      h5 {
        font-size: 1.125rem;
        font-weight: 800;
        line-height: 32px;
        margin-bottom: 10px;
      }

      .description_list {
        display: flex;
        flex-direction: column;

        span {
          font-size: 1.125rem;
          line-height: 34px;
        }
      }
    }
  }

  .apply_with_linkedin {
    padding: 0 4% 0;
    max-width: 2000px;
    width: calc(100% - 8%);
    margin: -170px auto 170px;
    text-align: center;

    h4 {
      font-size: 1.875rem;
      margin-bottom: 10px;
    }

    p {
      max-width: 220px;
      margin: auto auto 20px;
    }

    button {
      max-width: 190px;
    }
  }

  .join_team {
    text-align: center;
    margin-bottom: 170px;
    //
    margin-top: -130px;
  }

  button {
    background: transparent linear-gradient(90deg, #2562FF 0%, #20C8FD 100%) 0 0 no-repeat padding-box;
    font-weight: 400;
  }
}

@media screen and (max-width: $lg) {
  .job_description_wrapper {

    .job_description_container {
      margin: 130px auto 60px;

      .job_description {
        margin-top: 60px;
        max-width: 900px;
      }
    }

    //
    .join_team {
      margin-top: -60px;
    }
  }
}

@media screen and (max-width: $md) {
  .job_description_wrapper {

    .job_description_container {

      .job_description_header {

        h3 {
          margin: 0 0 20px;
        }

        a {
          font-size: 0.875rem;
        }
      }

      .job_description {
        margin-top: 50px;

        p {
          font-size: 1rem;
          margin-bottom: 25px;
          line-height: 30px;
        }

        h5 {
          font-size: 1rem;
          line-height: 30px;
          margin-bottom: 5px;
        }

        .description_list {
          span {
            font-size: 1rem;
            line-height: 30px;
          }
        }
      }
    }

    .apply_with_linkedin {
      margin: -170px auto 120px;
      text-align: center;

      h4 {
        font-size: 1.5rem;
        margin-bottom: 10px;
      }

      p {
        font-size: 0.875rem;
        max-width: 220px;
        margin: auto auto 15px;
      }

    }

    .join_team {
      margin-bottom: 120px;
      //
      margin-top: -20px;

      h3 {
        margin: 0 15px 20px;
      }
    }
  }
}

@media screen and (max-width: 499px) {
  .job_description_wrapper {
    .join_team {
      //
      margin-top: -180px;
    }
  }
}
