@import "../../../styles/variables";

.support_container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 160px 4% 60px;
  align-items: center;
  max-width: 2000px;
  width: calc(100% - 8%);

  .support_text {
    width: 50%;

    h2 {
      font-size: 3rem;
    }

    p {
      line-height: 30px;
      padding-right: 30%;
      font-size: 1.125rem;

      a {
        font-weight: bold;
        color: #000000;
        text-decoration: none;
      }

      &:first-of-type {
        margin-bottom: 0;
      }

      &:not(:first-of-type) {
        margin-top: 5px;
      }
    }
  }

  .support_animation {
    width: 50%;

    .lottie {
      margin: auto;
      max-width: 600px;
      width: 100%;
      max-height: 440px;
      height: 100%;
    }
  }
}

@media screen and (max-width: $lg) {
  .support_container{
    padding: 80px 3% 0;
    width: calc(100% - 6%);

    .support_text {
      width: 55%;

      h2 {
        font-size: 2.7rem;
        line-height: 50px;
        text-align: left;
        margin-left: 15px;
        margin-right: 15px;
      }

      p {
        font-size: 1rem;
        margin: 0 15px;
      }
    }
    .support_animation {
      width: 45%;
    }
  }
}

@media screen and (max-width: $md) {
  .support_container{
    flex-direction: column;
    margin: 0 auto;
    padding: 80px 0 0;

    .support_text {
      width: 100%;

      h2 {
        font-size: 1.875rem;
        text-align: left;
        margin-left: 25px;
      }

      p {
        font-size: 0.875rem;
        margin: 0 25px;
        padding-right: 0;
        max-width: 500px;
      }
    }

    .support_animation {
      width: 100%;
      margin-top: 30px;
    }
  }
}
