@import "../../styles/variables";

.investors_container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 200px 0 0;

  .investors_header {
    display: flex;
    flex-direction: column;
    padding: 100px 4%;
    background: transparent radial-gradient(closest-side at 50% 50%, #F0FAF8 0%, #FFFFFF 100%) 0 0 no-repeat padding-box;
    background-size: 100% 100%, contain;
    max-width: 1090px;
    margin: auto;
    min-height: 400px;
    text-align: center;

    h3 {
      font-size: 1.5rem;
      font-weight: normal;
    }
  }

  .presentations_wrapper {
    background: linear-gradient(to left, #2E2E2E 50%, #FFC019 50%);

    .presentations_container {
      display: flex;
      max-width: 2000px;
      margin: auto;
      width: 100%;

      .left_container,
      .right_container {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: start;
        width: calc(50% - 100px);
        padding: 125px 0 125px 100px;
      }

      .left_container {
        background: #FFC019;

        ul {
          margin-top: 50px;
        }

        img {
          width: 30px;
          height: 29px;
          margin-right: 20px;
        }

        li {
          list-style: none;
          display: flex;
          align-items: center;
          font-size: 1.125rem;
          margin-bottom: 20px;
        }

        button {
          background: #2E2E2E 0 0 no-repeat padding-box;
          box-shadow: 0 3px 6px #00000029;
          margin-top: 30px;
          font-weight: 300;
          display: flex;
        }
      }

      .right_container {
        background: #2E2E2E;
        color: #FFFFFF;

        .data_grid {
          display: grid;
          align-self: center;
          grid-template-columns: repeat(2, minmax(200px, 360px));
          grid-gap: 55px;
          width: 100%;
          margin-top: 50px;

          & div {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            width: 100%;
          }

          span {
            width: 100%;
            font-size: 1.785rem;
            max-width: 200px;
            text-align: center;

            & strong {
              font-size: 3.75rem;
            }
          }
        }
      }
    }
  }

  .releases_container {
    text-align: center;
    padding: 120px 0 120px;
    background: #F6F4F3;

    h4 {
      font-size: 1.5rem;
      font-weight: 400;
      margin-top: 20px;
    }

    button {
      background: #2E2E2E 0 0 no-repeat padding-box;
      box-shadow: 0 3px 6px #00000029;
    }

    .cards_row {
      max-width: 2000px;
      padding: 0 4%;
      width: 92%;
      display: grid;
      grid-template-columns: repeat(3, calc(33% - 20px));
      margin: 60px auto;
      place-items: center;
      justify-content: center;
      grid-gap: 20px;
    }
  }
}

@media screen and (max-width: $lg) {
  .investors_container {

    .investors_header {
      padding: 0 4%;
      min-height: 330px;

      h3 {
        font-size: 1.125rem;
      }
    }

    .presentations_wrapper {
      .presentations_container {
        flex-direction: column;

        .left_container,
        .right_container {
          width: calc(100% - 100px) !important;
          padding: 50px !important;
        }

        .right_container {

          .data_grid {
            align-self: center;
            grid-template-columns: repeat(4, 1fr);
            grid-gap: 40px;
            margin-bottom: 20px;

            & div {
              align-items: center;
            }

            span {
              font-size: 1.125rem;
              max-width: 150px;
              text-align: center;

              & strong {
                font-size: 2.75rem;
              }
            }
          }
        }
      }
    }

    .releases_container {
      .cards_row {
        grid-template-columns: repeat(2, calc(50% - 20px));
      }

      h4 {
        font-size: 1.25rem;
      }
    }
  }
}

@media screen and (max-width: $md) {
  .investors_container {
    padding: 180px 0 0;

    .investors_header {
      min-height: 240px;
      padding-bottom: 50px;

      h3 {
        font-size: 1rem;
      }
    }

    .presentations_wrapper {
      .presentations_container {

        .left_container,
        .right_container {
          width: calc(100% - 60px) !important;
          padding: 30px !important;
        }

        .left_container {

          ul {
            margin-top: 30px;
          }

          li {
            font-size: 1rem;
            margin-bottom: 15px;
          }

          img {
            width: 25px;
            height: 24px;
          }
        }

        .right_container {

          .data_grid {
            grid-template-columns: repeat(4, 1fr);
            grid-gap: 20px;
            margin-bottom: 20px;
            margin-top: 30px;

            span {
              font-size: 1rem;
              max-width: 150px;

              & strong {
                font-size: 2rem;
              }
            }
          }
        }
      }
    }

    .releases_container {
      .cards_row {
        grid-template-columns: repeat(1, 100%);
      }
    }
  }
}

@media screen and (max-width: $sm) {
  .investors_container {
    padding: 150px 0 0;

    .presentations_wrapper {
      .presentations_container {

        .right_container {

          .data_grid {
            grid-template-columns: repeat(2, calc(50% - 20px));
          }
        }
      }
    }

    .releases_container {
      padding: 90px 0 70px;
    }
  }
}