@import "../../../styles/variables";

.benefits_container {
  max-height: 1550px;
  height: 1550px;
  background: url("../../../images/home/benefits/benefits-background.webp") no-repeat;
  background-size: 100% 100%, cover;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 0 0 100px 4%;
  position: relative;
  overflow: hidden;

  h2 {
    margin-bottom: 60px;
  }

  .parallax_container {
    padding-top: 300px;
    padding-bottom: 300px;
    height: calc(100% - 300px);
    position: relative;
    overflow: hidden;
  }

  .parallax_container_image {
    position: sticky;
    top: 50%;
  }

  .benefits {
    max-height: 1600px;
    height: 100%;
    width: 100%;
    overflow: hidden;
    display: flex;
    max-width: 2000px;

    .benefits_category {
      height: auto;
      display: flex;
      flex-direction: column;
      width: 100%;

      h3 {
        font-size: 2.60rem;
        font-weight: 900;
        margin-bottom: 30px;
      }

      &:nth-of-type(2) {
        margin-top: 50px;
      }
    }
  }

  & .benefits_text {
    padding: calc(200px + 3%) 0 0;
    display: flex;
    height: calc(1600px);
    flex-direction: column;
    width: 100%;
    justify-content: left;
    align-items: start;
    color: #FFFFFF;
    overflow: hidden;


    & .benefit {
      width: 100%;
      font-size: 1.5rem;
      margin: 15px 0;
      display: flex;
      flex-direction: row;
      align-items: center;

      span {
        width: calc(100% - 500px);
      }

      div {
        width: 100px;
        max-width: 100px;

        & img {
          max-width: 56px;
        }
      }
    }
  }

  & .benefits_images {
    width: 50%;

    img {
      width: 52vw;
      min-width: 700px;
      max-height: 100%;
      height: auto;
      position: absolute;
      top: 25%;
      right: 2%;
    }
  }
}

@media screen and (min-width: $xl) {
  .benefits_container {

    h2 {
      margin-right: 50px;
    }

    & .benefits_text {
      & .benefit {
        span {
          width: 60%;
        }
      }
    }

    & .benefits_images {

      img {
        width: 50vw;
        max-width: 1150px;
        max-height: 100%;
        height: auto;
        top: 18%;
      }
    }
  }
}

@media screen and (max-width: $lg) {
  .benefits_container {
    max-height: 1300px;
    height: 1300px;
    margin-top: 20px;
    padding: 0 0 0 4%;

    h2 {
      margin-bottom: 30px;
      text-align: left;
      max-width: 640px;
      margin-left: 15px;
    }

    .benefits {
      height: 100%;
      overflow: hidden;

      .benefits_category {
        height: auto;
        display: flex;
        flex-direction: column;

        h3 {
          font-size: 1.2rem;
          text-align: left;
          margin: 0 0 0 15px;
        }

        &:nth-of-type(2) {
          margin-top: 40px;
        }
      }
    }

    & .benefits_text {
      padding: 0 0 0;
      flex-direction: column;
      width: 100%;
      min-width: 100%;
      height: auto;
      justify-content: center;

      & .benefit {
        width: 100%;
        margin: 25px 0 0 15px;
        display: flex;
        flex-direction: row;
        align-items: center;
        max-width: 340px;

        span {
          width: 100%;
          font-size: 1.125rem;
          line-height: 28px;
        }

        div {
          width: 80px;
          max-width: 80px;

          & img {
            max-width: 35px;
          }
        }
      }
    }

    & .benefits_images {
      width: 60%;
      position: absolute;
      margin-top: 65px;
      top: 22%;
      right: calc(50vw - 51%);
      justify-content: center;

      img {
        max-width: unset;
        max-height: 700px;
        width: auto;
        margin: auto;
        top: unset;
        right: unset;
      }
    }
  }
}

@media screen and (max-width: $md) {
  .benefits_container {
    max-height: 855px;
    height: 855px;
    background: url("../../../images/home/benefits/benefits-background-mobile.webp") no-repeat;
    background-size: 100% 100%, cover;
    flex-direction: row;
    padding: 0 0 0 3%;
    margin-top: 0;

    h2 {
      margin-bottom: 30px;
      text-align: left;
      max-width: 400px;
    }

    .benefits {
      height: 100%;
      overflow: hidden;
      position: relative;

      .benefits_category {

        h3 {
          margin-bottom: 10px;
        }

        &:nth-of-type(2) {
          margin-top: 30px;
        }
      }
    }

    & .benefits_text {

      & .benefit {
        width: 50%;
        margin: 10px 0 0 15px;
        max-width: 240px;

        span {
          width: 60%;
          font-size: 0.5rem;
          line-height: 12px;
        }

        div {
          width: 50px;
          max-width: 50px;

          & img {
            max-width: 25px;
          }
        }
      }
    }

    & .benefits_images {
      width: 90%;
      position: absolute;
      margin-top: 65px;
      top: 22%;
      right: unset;
      justify-content: center;

      img {
        max-width: 490px;
        min-width: 400px;
        height: auto;
        width: auto;
        margin: auto;
        object-fit: contain;
        object-position: right;
        left: calc(30% + -5vw);
      }
    }
  }
}
