@import "../../../styles/variables";

.release_card_container {
  background: #FFFFFF 0 0 no-repeat padding-box;
  box-shadow: 0 3px 6px #00000029;
  border-radius: 30px;
  width: calc(100% - 60px);
  max-width: 440px;
  min-height: 150px;
  text-align: left;
  padding: 70px 30px 30px;

  h3 {
    font-size: 1.75rem;
    margin-bottom: 0;
  }

  p {
    font-size: 1.25rem;
  }
}

@media screen and (max-width: $lg) {
  .release_card_container {
    min-height: 130px;
    padding: 45px 30px 30px;

    h3 {
      font-size: 1.5rem;
    }

    p {
      font-size: 1.125rem;
    }

    span {
      font-size: 1rem;
    }
  }
}

@media screen and (max-width: $md) {
  .release_card_container {
    min-height: 120px;
    padding: 40px 30px 30px;

    h3 {
      font-size: 1.25rem;
    }

    p {
      font-size: 1rem;
    }

    span {
      font-size: 0.875rem;
    }
  }
}
