@import "../../styles/variables";

.privacy_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .privacy_container {
    background: transparent radial-gradient(closest-side at 50% 50%, #F0FAF8 0%, #FFFFFF 100%) 0 0 no-repeat padding-box;
    background-size: 100% 400px, contain;
    background-position: top center;
    padding: 0 4% 0;
    max-width: 2000px;
    margin: 200px auto auto;
    min-height: 400px;

    .privacy_header {
      text-align: center;

      h3 {
        margin: 0 0 18px;
      }

    }

    .privacy_text {
      margin-top: 100px;
      margin-bottom: 130px;
      max-width: 1000px;

      p {
        font-size: 1rem;
        margin-bottom: 28px;
        line-height: 28px;
      }

      h5 {
        font-size: 1.125rem;
        font-weight: 800;
        line-height: 32px;
        margin-bottom: 10px;
      }

      .description_list {
        display: flex;
        flex-direction: column;
        margin-left: 30px;

        span {
          font-size: 1rem;
          line-height: 28px;
          margin-bottom: 7px;
        }
      }
    }

    .contact_details {
      font-style: italic;
      margin-bottom: 30px;

      p {
        margin-bottom: 0;
        margin-top: 0;
      }
    }
  }
}

@media screen and (max-width: $lg) {
  .privacy_wrapper {

    .privacy_container {
      margin: 130px auto 60px;

      .privacy_text {
        margin-top: 60px;
        max-width: 900px;
      }
    }
  }
}

@media screen and (max-width: $md) {
  .privacy_wrapper {

    .privacy_container {

      .privacy_header {

        h3 {
          margin: 0 0 20px;
        }

        a {
          font-size: 0.875rem;
        }
      }

      .privacy_text {
        margin-top: 50px;
        margin-bottom: 80px;

        p {
          font-size: 0.875rem;
          margin-bottom: 25px;
          line-height: 25px;
        }

        h5 {
          font-size: 1rem;
          line-height: 30px;
          margin-bottom: 5px;
        }

        .description_list {
          margin-left: 20px;
          span {
            font-size: 0.875rem;
            line-height: 25px;
          }
        }

        .contact_details {
          margin-bottom: 25px;

          p {
            margin-bottom: 0;
            margin-top: 0;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 499px) {
}