@import "../../../styles/variables";

.core_values_container {
  padding: 0 4% 0;
  max-width: 2000px;
  margin: -110px auto 0;
  text-align: center;
  width: 92%;

  .values {
    width: 94%;
    margin: 200px auto 140px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    .value_group {
      display: flex;
      width: 46%;
      height: 100%;

      img {
        max-width: 200px;
        max-height: 200px;
        height: 100%;
        width: 100%;
      }

      .value_card {
        background: #FFFFFF 0 0 no-repeat padding-box;
        box-shadow: 0 3px 6px #00000029;
        border-radius: 30px;
        max-width: 360px;
        padding: 30px 40px;
        text-align: left;
        display: flex;
        justify-content: center;
        align-items: center;

        .left_line {
          height: 100%;
          width: 16px;
          max-width: 16px;
          min-width: 16px;
          margin-right: 20px;
        }

        .value_text {
          .value_title {
            font-size: 2rem;
            margin: 0;
            font-weight: 900;
          }

          .value_details {
            margin: 10px 0;
            font-weight: 500;
            font-size: 1.125rem;
          }
        }
      }

      &__experience {
        img {
          margin-top: -60px;
          margin-right: -40px;
        }

        .value_card {
          .left_line {
            background-color: #FFC019;
          }
        }
      }

      &__transparency {
        padding-top: 30px;
        img {
          margin-right: -10px;
        }

        .value_card {
          margin-top: -20px;
          .left_line {
            background-color: #DDF246;
          }
        }
      }

      &__impact{
        margin-top: 135px;
        img {
          margin-right: -20px;
        }

        .value_card {
          margin-top: 10px;
          .left_line {
            background-color: #EC0905;
          }
        }
      }

      &__grow{
        margin-top: 75px;
        justify-content: flex-end;

        img {
          margin-right: -40px;
        }

        .value_card {
          margin-top: 40px;

          .left_line {
            background-color: #2562FF;
          }
        }
      }

      &__team_work{
        align-self: center;
        justify-self: center;
        margin-left: 40%;
        margin-top: 15px;

        img {
          margin-right: -100px;
        }

        .value_card {
          margin-top: 100px;
          .left_line {
            background-color: #6C6CFE;
          }
        }
      }
    }
  }

  button {
    min-width: 180px;
    margin-bottom: 130px;
    box-shadow: 0 3px 6px #00000029;
    background: transparent linear-gradient(90deg, #2562FF 0%, #20C8FD 100%) 0 0 no-repeat padding-box;
  }
}


@media screen and (max-width: $lg) {
  .core_values_container {
    padding: 0 4% 0;

    .values {
      width: 100%;
      margin: 0 auto 80px;
      flex-wrap: wrap;

      .value_group {
        display: flex;
        justify-content: space-evenly;
        min-width: 400px;
        margin: 70px 10px 0;

        img {
          max-width: 150px;
          max-height: 150px;
        }

        .value_card {
          padding: 30px 30px;

          .left_line {
            height: 100%;
            width: 12px;
            max-width: 12px;
            min-width: 12px;
            margin-right: 15px;
          }

          .value_text {
            .value_title {
              font-size: 1.75rem;
              line-height: 36px;
              margin: 0;
              font-weight: 900;
            }

            .value_details {
              margin: 10px 0;
              font-weight: 500;
              font-size: 1.1rem;
            }
          }
        }

        &__experience {
          img {
            margin-top: 0;
            margin-right: -40px;
          }
        }

        &__transparency {
          padding-top: 0;
          align-self: flex-end;

          img {
            margin-right: -40px;
          }

          .value_card {
            margin-top: 0;
          }
        }

        &__impact{
          margin-top: 70px;
          img {
            margin-right: -40px;
          }

          .value_card {
            margin-top: 0;
          }
        }

        &__grow{
          margin-top: 70px;
          align-self: flex-end;

          img {
            margin-right: -40px;
          }

          .value_card {
            margin-top: 0;
          }
        }

        &__team_work{
          margin-left: 0;
          margin-top: 70px;

          img {
            margin-right: -40px;
          }

          .value_card {
            margin-top: 0;
          }
        }
      }
    }

    button {
      margin-bottom: 80px;
    }
  }
}

@media screen and (max-width: $md) {
  .core_values_container {
    padding: 0 4% 0;

    h3 {
      margin: 0 15px 20px;
    }

    .values {
      margin: 0 auto 40px;

      .value_group {
        min-width: 94%;
        margin: 30px 10px 0;

        img {
         display: none;
        }

        .value_card {
          width: 100%;
          max-width: 300px;

          .left_line {
            width: 9px;
            max-width: 9px;
            min-width: 9px;
          }

          .value_text {
            .value_title {
              font-size: 1.5rem;
              line-height: 32px;
            }

            .value_details {
              margin: 8px 0;
              line-height: 24px;
              font-size: 1rem;
            }
          }
        }

        &__impact,
        &__grow,
        &__team_work {
          margin-top: 30px;
        }
      }
    }

    button {
      margin-bottom: 60px;
    }
  }
}

@media screen and (max-width: 500px) {
  .core_values_container {
    margin-top: -215px;
  }
}
