@import "../styles/variables";

.navbar {
  background: #FBFBFC 0 0 no-repeat padding-box;
  opacity: 1;
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  height: 70px;
  min-height: 70px;
  font-size: 14px;
  position: fixed;
  left: 0;
  top: 0;
  fill-opacity: 0.8;
  width: 100%;
  z-index: 100;

  .navbar_container {
    max-width: 2000px;
    height: 100%;
    padding: 0 4%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    & .logo_container {
      width: 20%;

      img {
        min-width: 150px;
        max-width: 180px;
        width: 100%;
      }
    }

    .menu_elements {
      width: 80%;
      max-width: 1000px;
      margin-left: auto;
      font-weight: 300;

      ul {
        font-family: 'Open Sans', sans-serif !important;
        max-width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        padding: 0;

        & a {
          text-decoration: none;
          color: #000000;
          padding: 0 10px;

          &:hover {
            font-weight: 400;
          }
        }
      }

      .button {
        border-radius: 20px;
        outline: none;
        box-shadow: none;
        border-image: none;
        border-style: none;
        font-size: 14px;
        cursor: pointer;

        &:hover {
          font-weight: 300;
        }
      }

      .button_broker {
        margin-left: 15px;
        padding: 5px 20px;
        border: 1px solid #52525b;
        background: transparent linear-gradient(90deg, #1e3a8a 0%, #1e3a8a 100%) 0 0 no-repeat padding-box;
        transition: background-color 0.4s ease;
        color: #FFFFFF;

        //&:hover {
        //  border: 1px solid #52525b;
        //  background-color: #52525b;
        //  transition: background-color 0.4s ease;
        //}
      }

      .button_logistics {
        margin-left: 15px;
        padding: 5px 20px;
        border: 1px solid #000000;
        background-color: transparent;
        transition: background-color 0.4s ease;

        &:hover {
          border: 1px solid #FFC019;
          background-color: #FFC019;
          transition: background-color 0.4s ease;
        }
      }

      .button_get_started {
        padding: 5px 20px;
        border: 1px solid #000000;
        background-color: transparent;
        transition: background-color 0.4s ease;

        &:hover {
          color: #FFFFFF;
          border: 1px solid #2562FF;
          background: #2562FF;
          transition: background-color 0.4s ease;
        }
      }
    }
  }
}

.select_container {
  position: relative;
  max-width: 160px;
  margin-top: 10px;
  width: 100%;

  .selectLanguage {
    background-color: transparent;
    padding: 5px 10px;
    text-align: center;
    color: #000000;
    width: 100%;
    border: 1px solid #000000;
    outline: none;
    caret-color: rgba(0, 0, 0, 0);
    cursor: pointer;

    &:focus {
      outline: none;
    }
  }

  ul {
    background-color: #FFFFFF;
    width: 100%;
    position: absolute;
    bottom: -80px;
    color: #000000;
    border-radius: 20px;
    border: 1px solid #000000;
    left: 0;
    cursor: pointer;

    li {
      list-style: none;
      margin: 10px 0;
      text-align: center;
      font-size: 14px;
    }
  }
}

.advantages_text {
  width: 49%;
  text-align: left;

  & .advantage {
    display: flex;
    flex-direction: row;
    text-align: left;
    align-items: center;
    margin-top: 6%;

    .advantage_icon_background {
      background: #FFFFFF 0 0 no-repeat padding-box;
      box-shadow: 0 2px 4px #00000029;
      border-radius: 20px;
      opacity: 1;
      max-width: 100px;
      width: 100%;
      height: 100px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 8%;
    }

    .advantage_info {
      h4 {
        margin: 0;
        font-size: 2rem;
        font-weight: 900;
      }

      p {
        margin: 5px 0;
        font-size: 1.1rem;
      }

      a {
        font-weight: bold;
        color: #000000;
        text-decoration: none;
      }
    }
  }
}

.search_row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;

  input {
    background: #FFFFFF 0 0 no-repeat padding-box;
    box-shadow: 0 3px 6px #00000029;
    border-radius: 20px;
    border: none;
    max-width: 330px;
    width: 100%;
    margin-right: 20px;
    text-align: center;

    &::placeholder {
      color: #C1C1C1;
    }

    &[type = 'search']::-webkit-search-cancel-button {
      background: url(https://pro.fontawesome.com/releases/v5.10.0/svgs/regular/times.svg) no-repeat 50% 50%;
      -webkit-appearance: none;
      height: 15px;
      width: 15px;
    }
  }

  button {
    font-weight: 300;
  }
}

.newsletter_form {
  width: 48%;
  display: flex;
  flex-direction: row;
  align-items: center;

  input {
    max-width: 330px;
    width: 100%;
    margin-left: auto;
    margin-right: 20px;
    text-align: center;
  }
}

article {
  background: #ffffff;
  width: 80%;
  padding: 20px;
  border-radius: 10px;
}

article header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 48px;
  padding: 0 10px 0 20px;
  cursor: pointer;
  background: #FFFFFF;
  margin-bottom: 10px;
  color: #000000;
  border-bottom: 1px solid #000000;
}

article header.active {
  border-bottom: 2px solid #1e3a8a;
}

article header.active span {
  rotate: -180deg;
}

article h2 {
  margin: 0;
  font-size: 16px;
  font-weight: 500;
}

article p {
  padding: 0 20px 10px;
  line-height: 1.7;
  font-size: 14px;
}

article span {
  transition: 0.3s;
}

.collapse {
  position: relative;
  height: 0;
  overflow: hidden;
  transition: height 0.5s ease;
}

.collapse.show {
  height: auto;
}

@media screen and (max-width: $lg) {
  .navbar {
    background: #FBFBFC 0 0 no-repeat padding-box;
  }

  .advantages_text {
    width: 70%;
    margin: auto;

    & .advantage {

      .advantage_icon_background {
        max-width: 80px;
        height: 80px;
        text-align: center;

        img {
          width: 80%;
        }
      }

      .advantage_info {
        h4 {
          font-size: 1.75rem;
        }

        p {
          margin: 5px 0;
          font-size: 1rem;
        }
      }
    }
  }

  .newsletter_form {
    width: 100%;
    max-width: 600px;
    flex-direction: column;

    input {
      max-width: 90%;
      width: 100%;
      margin-right: 0;
      margin-left: 0;

      &::placeholder {
        text-align: center;
      }
    }

    button {
      max-width: calc(90% + 28px);
      padding: 13px 25px;
    }
  }
}

@media screen and (max-width: $md) {
  .advantages_text {
    width: 96%;
    margin: auto;

    & .advantage {
      .advantage_icon_background {
        max-width: 70px;
        height: 70px;
        margin-right: 15px;

        img {
          width: 70%;
          vertical-align: middle;
        }
      }

      .advantage_info {
        h4 {
          font-size: 1.25rem;
        }

        p {
          margin: 5px 0;
          font-size: 0.875rem;
          line-height: 20px;
        }
      }
    }
  }

  .search_row {
    flex-direction: column;

    input {
      margin-right: 0;
    }
  }
}

@media screen and (max-width: $sm) {

  .navbar {
    .navbar_container {

      & .logo_container {

        img {
          min-width: 51px;
          max-width: 55px;
        }
      }
    }
  }
}
