@import "variables";

html, body {
  margin: 0 !important;
  display: block;
  flex-direction: column;
  font-family: 'Open Sans', sans-serif;
  scroll-behavior: smooth;
  min-height: 100vh;
}

.layout_container {
  width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
}

/* Primitives */
button, a.button {
  font-family: 'Open Sans', sans-serif;
  border: none;
  outline: none;
  padding: 13px 25px;
  cursor: pointer;
  font-size: 0.875rem;
}

input, textarea {
  font-family: 'Open Sans', sans-serif;
  background: #FFFFFF 0 0 no-repeat padding-box;
  border: 1px solid #707070;
  border-radius: 40px;
  opacity: 1;
  margin: 12px 0 12px;
  padding: 13px 25px;
  color: #000000;
  font-size: 0.875rem;
  outline: none;
}

input::placeholder {
  color: #000000;
}

ul {
  padding: 0 10px;
}

.button__get_started {
  border-radius: 20px;
  opacity: 1;
  max-width: 100%;
  max-height: 55px;
  height: auto;
  width: auto;
  color: #FFFFFF;
  font-family: 'Open Sans', sans-serif;
  font-size: 0.875rem;
  font-weight: 500;
  outline: none;
  padding: 10px 25px;
  margin: 10px 0;
}

.page_title_section {
  font-family: 'Open Sans', sans-serif;
  font-size: 3.68rem;
  line-height: 62px;
  font-weight: 900;
  margin: 0 0 20px;
}

.page_subtitle_section {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.5rem;
  line-height: 34px;
  font-weight: 400;
  margin: 0 0 25px;
}

.slick-next {
  background: url('../images/about/right-arrow.svg') center center no-repeat !important;
  right: calc(0% - 200px) !important;
  top: calc(50% + 30px) !important;
  max-width: 60px !important;
  max-height: 58px !important;
  height: 100% !important;
  width: 100% !important;
  z-index: 2 !important;

  &::before {
    display: none;
  }
}

.slick-prev {
  background: url('../images/about/left-arrow.svg') center center no-repeat !important;
  left: calc(0% - 200px) !important;
  top: calc(50% + 30px) !important;
  max-width: 60px !important;
  max-height: 58px !important;
  height: 100% !important;
  width: 100% !important;
  z-index: 2 !important;

  &::before {
    display: none;
  }
}

@media screen and (max-width: $lg) {
  .page_title_section {
    font-size: 2.7rem;
    line-height: 50px;
    margin: 0 auto 20px;
    text-align: center;
  }

  .page_subtitle_section {
    font-size: 1.3rem;
    line-height: 30px;
    margin: 0 auto 30px;
    text-align: center;
  }

  .slick-next {
    background-size: 90% 90%, cover !important;
    right: calc(0% - 10px) !important;
    top: calc(50% + 25px) !important;
  }

  .slick-prev {
    background-size: 90% 90%, cover !important;
    left: calc(0% - 10px) !important;
    top: calc(50% + 25px) !important;
  }

}

@media screen and (max-width: $md) {
  .page_title_section {
    font-size: 1.875rem;
    line-height: 40px;
    margin: 0 15px 20px;
  }

  .page_subtitle_section {
    font-size: 0.875rem;
    line-height: 18px;
    margin: 0 15px 30px;
  }

  input, textarea {
    padding: 13px 15px;
  }

  .slick-next {
    background-size: 40% 40%, cover !important;
    right: calc(0% - 25px) !important;
    top: calc(50% + 20px) !important;
  }

  .slick-prev {
    background-size: 40% 40%, cover !important;
    left: calc(0% - 25px) !important;
    top: calc(50% + 20px) !important;
  }
}
