@import "../../../styles/variables";

.offer_container {
  background-image: url("../../../images/home/offer-background.webp");
  background-repeat: no-repeat;
  background-size: cover;
  max-height: 710px;
  height: 710px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 80px;

  h2, h3 {
    color: #FFFFFF;
    text-align: center;
  }

  h2 {
    font-weight: 500;
    max-width: 905px;
    width: 50%;
    margin-top: 130px;
    strong {
      font-weight: 900;
    }
  }

  button {
    background: transparent linear-gradient(90deg, #2562FF 0%, #20C8FD 100%) 0 0 no-repeat padding-box;
  }
}

@media screen and (max-width: $lg) {
  .offer_container {
    max-height: 550px;
    height: 550px;
    margin-top: 0;

    h2 {
      max-width: 400px;
      margin-top: 70px;
    }
  }
}

@media screen and (max-width: $md) {
  .offer_container {
    max-height: 400px;
    height: 400px;

    h2 {
      max-width: 400px;
      width: 70%;
      margin-top: 50px;
    }
  }
}
