@import "../../../styles/variables";

.about_content_container {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 100%;

  .content_our_vision {
    display: flex;
    flex-direction: row;
    max-width: 2000px;
    width: 92%;
    padding: 120px 4% 80px;
    margin: auto;
    justify-content: space-between;
    align-items: center;

    .our_vision_col {
      display: flex;
      flex-direction: column;
      width: 50%;

      h3 {
        max-width: 550px;
        margin-top: 20px;
      }

      img {
        max-width: 100%;
      }
    }
  }

  .content_our_milestone,
  .content_more_data,
  .about_people_container,
  .social_container,
  .more_together {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .content_our_milestone {
    max-width: 815px;
    padding: 120px 0;
    width: 100%;
    margin: auto;
  }

  .content_more_data {
    background: #2E2E2E 0 0 no-repeat padding-box;
    opacity: 1;
    width: 100%;
    min-height: 550px;
    height: 100%;
    margin: 80px 0 200px;
    color: #FFFFFF;
    justify-content: space-between;

    h2 {
      margin-top: 60px;
    }

    .data_grid {
      display: grid;
      align-self: center;
      grid-template-columns: repeat(4, minmax(200px, 200px));
      margin-bottom: 115px;
      grid-gap: 120px;

      & div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }

      span {
        width: 100%;
        font-size: 1.785rem;

        & strong {
          font-size: 3.75rem;
        }
      }
    }
  }

  .about_people_container {
    max-width: 2000px;
    padding: 0 4% 200px;
    width: 92%;
    margin: auto;

    .about_people_content {
      display: flex;
      //justify-content: space-between;
      justify-content: center;
      width: 100%;
      margin-top: 150px;

      .images_container {
        width: 34%;
        max-width: 600px;
        display: grid;
        grid-template-columns: repeat(2, 50%);

        & div:first-of-type {
          grid-column: 1 / span 2;
        }
      }

      .values_container {
        //width: 55%;
        width: 90%;
        display: grid;
        grid-template-columns: repeat(2, minmax(100px, 1fr));
        grid-template-rows: repeat(3, 1fr);
        grid-gap: 60px;

        .value_card {
          background: #FFFFFF 0 0 no-repeat padding-box;
          box-shadow: 0 3px 6px #00000029;
          border-radius: 30px;
          max-width: 100%;
          padding: 30px 40px;
          text-align: left;
          display: flex;
          justify-content: left;
          //justify-content: center;
          align-items: center;

          .left_line {
            height: 100%;
            width: 16px;
            max-width: 16px;
            min-width: 16px;
            margin-right: 20px;
          }

          .value_text {
            .value_title {
              font-size: 2rem;
              margin: 0;
              font-weight: 900;
            }

            .value_details {
              margin: 10px 0;
              font-weight: 500;
              font-size: 1.125rem;
            }
          }
        }

        .experience {
          .left_line {
            background-color: #FFC019;
          }
        }

        .transparency {
          .left_line {
            background-color: #DDF246;
          }
        }

        .impact {
          .left_line {
            background-color: #EC0905;
          }
        }

        .grow {
          .left_line {
            background-color: #2562FF;
          }
        }

        .team_work {
          .left_line {
            background-color: #6C6CFE;
          }
        }
      }
    }
  }

  .social_container {
    max-width: 2000px;
    padding: 0 4% 200px;
    width: 92%;
    margin: auto;

    .social_icons_row {
      margin: 60px auto 0;

      img {
        margin: 0 18px;
      }
    }
  }

  .more_together {
    padding: 0 0 100px;

    .button_section {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 85px;

      button {
        background: transparent linear-gradient(90deg, #2562FF 0%, #20C8FD 100%) 0 0 no-repeat padding-box;
        margin-right: 20px;
        width: 100%;
        max-width: 160px;

      }

      h6 {
        color: #2E2E2E;
        text-align: left;
        font-size: 0.875rem;
        margin: 0;
        font-weight: 400;
      }
    }
  }
}

@media screen and (max-width: $lg) {
  .about_content_container {

    .content_our_vision {
      flex-direction: column;
      width: 92%;
      padding: 120px 4% 80px;

      .our_vision_col {
        width: 100%;

        h3 {
          max-width: 550px;
          margin-top: 20px;
        }

        img {
          max-width: 90%;
          margin: auto;
        }

        &:first-of-type {
          margin-bottom: 50px;
        }
      }
    }

    .content_our_milestone {
      padding: 100px 15px;
      width: calc(100% - 30px);
    }

    .content_more_data {
      margin: 80px 0 160px;
      color: #FFFFFF;
      justify-content: space-between;

      h2 {
        margin-top: 60px;
      }

      .data_grid {
        display: grid;
        align-self: center;
        grid-template-columns: repeat(2, minmax(200px, 200px));
        grid-template-rows: repeat(2, 1fr);
        margin-bottom: 80px;
        margin-top: 50px;
        grid-gap: 40px 150px;

        span {
          width: 100%;
          font-size: 1.5rem;

          & strong {
            font-size: 3rem;
          }
        }
      }
    }

    .about_people_container {
      padding: 0 4% 170px;
      width: 92%;
      margin: auto;

      .about_people_content {
        flex-direction: column;
        margin-top: 50px;

        .images_container {
          width: 100%;
          max-width: 70%;
          order: 2;
          margin: 100px auto 0;
        }

        .values_container {
          width: 100%;
          max-width: 100%;
          margin: auto;
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          order: 1;
          justify-content: center;

          .value_card {
            max-width: 33%;
          }
        }
      }
    }

    .social_container {
      padding: 0 4% 160px;
      width: 92%;
      margin: auto;

      .social_icons_row {
        margin: 30px auto 0;

        img {
          margin: 0 18px;
        }
      }
    }

    .more_together {
      padding: 0 0 100px;

      h2 {
        max-width: 480px;
        line-height: 58px;
      }

      .button_section {
        margin-top: 30px;
      }
    }
  }
}

@media screen and (max-width: $md) {
  .about_content_container {

    .content_our_vision {
      flex-direction: column;
      width: 92%;
      padding: 80px 4% 20px;

      .our_vision_col {
        width: 100%;

        h3 {
          max-width: 550px;
          margin-top: 20px;
          font-size: 1.125rem;
          line-height: 24px;
        }

        img {
          max-width: 100%;
        }

        &:first-of-type {
          margin-bottom: 40px;
        }
      }
    }

    .content_our_milestone {
      padding: 100px 15px;
      width: calc(100% - 30px);
    }

    .content_more_data {
      margin: 0 0 130px;

      h2 {
        margin-top: 60px;
      }

      .data_grid {
        align-self: center;
        display: flex;
        flex-wrap: wrap;
        grid-gap: 40px;
        margin: 30px auto 80px;
        justify-content: space-evenly;

        & > div {
          max-width: 200px;
          min-width: 150px;
          width: calc(50% - 140px);
        }

        span {
          width: 100%;
          font-size: 1.35rem;

          & strong {
            font-size: 2.75rem;
          }
        }
      }
    }

    .about_people_container {
      padding: 0 4% 130px;
      width: 92%;
      margin: auto;

      .about_people_content {
        flex-direction: column;
        margin-top: 30px;

        .images_container {
          width: 100%;
          max-width: 96%;
          order: 2;
          margin: 50px auto 0;
        }

        .values_container {
          grid-gap: 30px;

          .value_card {
            max-width: 100%;
            width: 100%;
            justify-content: left;
          }
        }
      }
    }

    .social_container {
      padding: 0 4% 120px;
      width: 92%;
      margin: auto;

      .social_icons_row {
        margin: 30px auto 0;
      }
    }

    .more_together {
      padding: 0 0 100px;

      h2 {
        line-height: 40px;
        max-width: 270px;
        margin-left: auto;
        margin-right: auto;
      }

      .button_section {
        margin-top: 30px;
        padding: 0 15px;
      }
    }
  }
}
