@import "../../../styles/variables";

.help_container {
  padding: 200px 4% 0;
  max-width: 2000px;
  margin: auto;
  width: 92%;

  .search_container {
    margin: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 700px;
    background: transparent radial-gradient(closest-side at 50% 50%, #F0FAF8 0%, #FFFFFF 100%) 0 0 no-repeat padding-box;

    button, input[type="search"] {
      -webkit-appearance: none;
      -moz-box-shadow: 0 3px 6px #00000029;
      -webkit-box-shadow: 0 3px 6px #00000029;
      box-shadow: 0 3px 6px #00000029;
    }

    button {
      background: transparent linear-gradient(90deg, #2562FF 0%, #20C8FD 100%) 0 0 no-repeat padding-box;
    }
  }

  .cards_row {
    display: flex;
    flex-direction: row;
    width: 96%;
    margin: 100px auto;
    justify-content: center;

    .card_wrapper {
      position: relative;
      width: 27%;
      display: flex;
      justify-content: center;
      margin: 0 10px;

      .card_container {
        position: relative;
        background: #FFFFFF 0 0 no-repeat padding-box;
        box-shadow: 0 3px 6px #00000029;
        border-radius: 30px;
        max-width: 250px;
        max-height: 250px;
        width: 100%;
        padding: 50px 50px;

        .card_title {
          font-size: 1.75rem;
          font-weight: 900;
        }

        ul {
          padding: 0;
          margin: 20px 0 0;
        }

        li {
          color: #2562FF;
          cursor: pointer;
          font-size: 1.125rem;
          margin: 7px 0;
          list-style: none;

          &:hover {
            text-decoration: underline;
          }
        }
      }

      img {
        max-width: 210px;
        z-index: -1;
      }

      .image {
        &__ylYellow {
          position: absolute;
          top: -50px;
          left: -120px;
        }

        &__ylRed {
          position: absolute;
          bottom: -80px;
          right: -40px;
        }

        &__ylLime {
          position: absolute;
          top: 20px;
          right: -60px;
        }

        &__ylBlue {
          position: absolute;
          right: -140px;
          top: 30px;
        }
      }
    }
  }
}

@media screen and (max-width: $lg) {
  .help_container {
    padding: 130px 4% 0;

    .cards_row {
      width: 100%;
      margin: 70px auto;
      justify-content: space-around;
      flex-wrap: wrap;

      .card_wrapper {
        position: relative;
        width: 31%;
        display: flex;
        justify-content: center;
        margin: 30px 3px;

        .card_container {
          position: relative;
          max-width: 100%;
          max-height: 100%;
          min-width: calc(100% / 3);
          padding: 30px;

          .card_title {
            font-size: 1.5rem;
            font-weight: 900;
          }
        }

        img {
          max-width: 160px;
          z-index: -1;
        }
      }
    }
  }
}

@media screen and (max-width: $md) {
  .help_container {

    h1 {
      line-height: 36px;
    }

    .cards_row {
      margin: 70px auto 30px;
      flex-direction: column;
      justify-content: center;

      .card_wrapper {
        width: calc(100% - 20px);
        margin: 15px 5px;

        .card_container {
          max-width: 250px;
          min-height: 250px;
        }

        img {
          max-width: 200px;
        }

        .image {
          &__ylYellow {
            top: -50px;
            left: -100px;
          }

          &__ylRed {
            position: absolute;
            bottom: -70px;
            right: -70px;
          }

          &__ylLime {
            position: absolute;
            top: unset;
            bottom: -80px;
            right: unset;
            left: -100px;
          }

          &__ylBlue {
            position: absolute;
            right: -80px;
            top: unset;
            bottom: -50px;
          }
        }
      }
    }

    .help_animation {
      .lottie {
        max-width: 147px;
        margin: 100px auto 0;
        transform: rotate(220deg);
      }
    }
  }
}
