@import "../../../styles/variables";

.search_vision_container {
  padding: 200px 4% 0;
  max-width: 2000px;
  margin: auto;

  .search_role_container {
    background: transparent radial-gradient(closest-side at 50% 50%, #F0FAF8 0%, #FFFFFF 100%) 0 0 no-repeat padding-box;
    margin: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 600px;

    button, input[type="search"] {
      -webkit-appearance: none;
      -moz-box-shadow: 0 3px 6px #00000029;
      -webkit-box-shadow: 0 3px 6px #00000029;
      box-shadow: 0 3px 6px #00000029;
    }

    button {
      background: transparent linear-gradient(90deg, #2562FF 0%, #20C8FD 100%) 0 0 no-repeat padding-box;
    }
  }

  .our_vision_container {
    margin: 110px auto 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 90%;

    .our_vision_text,
    .our_vision_lottie{
      width: 45%;
    }

    .our_vision_lottie {
      & .lottie {
        max-width: 468px;
        max-height: 468px;
        height: 100%;
        width: 100%;
        margin: auto;
      }
    }
  }
}

@media screen and (max-width: $lg){
  .search_vision_container {
    padding: 130px 4% 0;
    max-width: 2000px;
    margin: auto;

    .our_vision_container {
      margin: 70px auto 0;
    }
  }
}

@media screen and (max-width: $md){
  .search_vision_container {

    .search_role_container {

      h3 {
        max-width: 230px;
      }

      input {
        margin-top: 0;
      }

      button {
        box-shadow: 0 3px 6px #00000029;
      }
    }

    .our_vision_container {
      flex-direction: column;

      .our_vision_text {
        width: 100%;
      }

      .our_vision_lottie{
        max-width: 330px;
        width: 90%;
      }

      h3 {
        font-size: 1.3rem;
        line-height: 34px;
        text-align: left;
        margin: 0 0 30px;
      }

      .our_vision_lottie {
        & .lottie {
          max-width: 468px;
          max-height: 468px;
          height: 100%;
          width: 100%;
          margin: auto;
        }
      }
    }
  }
}

