@import "../../../styles/variables";

.fast_solution_container {
  padding: 80px 4%;
  margin: 150px auto 0;
  background: #F6F4F3;
  width: 92%;
  text-align: center;

  .cards_row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 2000px;
    margin: 60px auto 0;

    .card {
      width: calc(21% - 40px);
      margin: 0 2%;
      background: #FFFFFF 0 0 no-repeat padding-box;
      box-shadow: 0 3px 6px #00000029;
      border-radius: 30px;
      opacity: 1;
      min-height: 230px;
      padding: 30px 20px;
      height: 100%;
      display: flex;
      align-items: flex-end;
      justify-content: center;

      p {
        font-size: 1.75rem;
        font-weight: 900;
        line-height: 48px;
        margin: 0;
      }
    }
  }
}

@media screen and (max-width: $lg){
  .fast_solution_container {
    padding: 60px 4%;
    margin: 100px auto 0;

    .cards_row {
      margin: 40px auto 0;
      justify-content: center;

      .card {
        margin: 2%;
        min-width: 250px;
        width: calc(38% - 40px);

        p {
          font-size: 1.5rem;
          line-height: 34px;
        }
      }
    }
  }
}

@media screen and (max-width: $md){
  .fast_solution_container {

    .cards_row {
      .card {
        margin: 10px;
        min-width: 215px;

        p {
          font-size: 1.5rem;
          line-height: 34px;
        }
      }
    }
  }
}

@media screen and (max-width: $sm){
  .fast_solution_container {

    .cards_row {
      .card {
        min-width: 90%;
        min-height: 200px;
      }
    }
  }
}
