@import "../../styles/variables";

.contact_container {
  padding: 200px 4%;
  max-width: 2000px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 92%;

  h1 {
    margin-bottom: 80px;
    text-align: center;
    margin-left: 0;
  }

  button {
    margin-top: 140px;
    background: transparent linear-gradient(90deg, #2562FF 0%, #20C8FD 100%) 0 0 no-repeat padding-box;
  }
}

.contact_advantages_container {
  width: 100%;

  h1 {
    width: 100%;
  }

  .advantages_grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    & > div {
      margin-top: 30px !important;
      width: 48%;
    }
  }
}

@media screen and (max-width: $lg) {
  .contact_container {
    padding: 180px 4% 140px;

    h1 {
      margin-bottom: 40px;
    }


    button {
      margin-top: 100px;
    }
  }

  .contact_advantages_container {
    background: transparent radial-gradient(closest-side at 50% 50%, #F0FAF8 0%, #FFFFFF 100%) 0 0 no-repeat padding-box;

    p {
      font-size: 1rem !important;
      line-height: 28px !important;
    }
  }
}

@media screen and (max-width: $md) {
  .contact_container {
    padding: 130px 4% 100px;

    .contact_advantages_container {
      .advantages_grid {
        flex-direction: column;

        & > div {
          margin: 6% auto 0 !important;
          width: 100%;
        }
      }
    }
  }
}
