@import "../../styles/variables";

.contact_form_container {
  padding: 180px 4%;
  max-width: 2000px;
  margin: auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 92%;

  .contact_buttons_section {
    display: flex;
    flex-direction: row;
    margin-top: 70px;
    width: 49%;
    justify-content: center;

    .button {
      border-radius: 20px;
      opacity: 1;
      max-width: 158px;
      max-height: 45px;
      height: 100%;
      width: 100%;
      font-family: 'Open Sans', sans-serif;
      font-size: 0.875rem;
      font-weight: 500;
      outline: none;
      border: none;
      padding: 10px 25px;
      margin: 10px 0;
    }

    .button_trucks {
      background: transparent linear-gradient(90deg, #FFC019 0%, #FDD66D 100%) 0 0 no-repeat padding-box;
      color: #000000;

    }

    .button_network {
      background: transparent linear-gradient(90deg, #2562FF 0%, #20C8FD 100%) 0 0 no-repeat padding-box;
      color: #FFFFFF;
    }
  }

  h1 {
    margin-bottom: 80px;
  }

  .form {
    width: calc(47% - 70px);
    min-height: 500px;
    max-width: 780px;
    margin-left: 30px;
    padding: 50px 35px;
    background: #FFFFFF 0 0 no-repeat padding-box;
    box-shadow: 0 3px 6px #00000029;
    border-radius: 30px;
    opacity: 1;
    display: grid;
    //grid-template-columns: repeat(2, calc(50% - 1rem));
    grid-template-columns: repeat(1, 100%);
    grid-gap: 0;
    //grid-gap: 2rem;

    .form_group {
      display: flex;
      flex-direction: column;
      max-height: 82px;

      label {
        font-size: 1rem;

        span {
          color: #FF0000;
        }
      }

      textarea {
        resize: none;
        overflow-y: auto;
      }

      .form_input {
        border-radius: 4px;
        border: 1px solid #0000001F;
        font-size: 1rem;

        &::placeholder {
          color: #E0E0E0;
        }
      }

      .form_input_wrapper {
        padding: 3px 15px;
        margin: 12px 0 12px;
        display: flex;

        select {
          background-color: #FFFFFF;
          -webkit-appearance: none !important;
          -moz-appearance: none !important;
          appearance: none !important;
        }

        .inner_input_flags {
          padding: 0;
          border: none;
          border-right: 1px solid #0000001F;
          width: 60px;
          margin-right: 15px;
          outline: none;
          border-radius: 0;
          text-align: left;
          font-size: 25px;
          -webkit-appearance: none;
          -moz-appearance: none;
          appearance: none;

          background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23000000%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E') !important;
          background-repeat: no-repeat;
          background-position: right .5em top 50%;
          background-size: 0.4em auto;
        }

        .inner_input_phone {
          padding: 0;
          border: none;
          width: calc(100% - 75px);
          outline: none;
          border-radius: 0;
        }
      }

      .error {
        font-size: 0.75rem;
        margin: -5px 0 0;
        color: #FF0000;
      }

      &:nth-of-type(5) {
        grid-column-start: span 2;
      }

      &:nth-of-type(8) {
        grid-column-start: span 2;
        max-height: 300px;
      }
    }

    .terms, button {
      grid-column-start: span 2;
      text-align: center;
      margin: auto;
      max-width: 400px;
      width: 100%;
    }

    .terms {
      margin-bottom: -10px;
    }
  }
}

@media screen and (max-width: $lg) {
  .contact_form_container {
    padding: 130px 4%;

    h1 {
      margin-bottom: 40px;
    }

    .form {
      width: 96%;
      margin: 60px auto 0;
    }
  }

  .contact_advantages_container {
    background: transparent radial-gradient(closest-side at 50% 50%, #F0FAF8 0%, #FFFFFF 100%) 0 0 no-repeat padding-box;

    p {
      font-size: 1rem !important;
      line-height: 28px !important;
    }
  }
}

@media screen and (max-width: $md) {
  .contact_form_container {
    padding: 130px 4% 100px;

    .form {
      padding: 30px 18px;
      grid-template-columns: repeat(1, 1fr);
      grid-gap: 2rem 0;

      .form_group {
        grid-column-start: span 2;

        label {
          font-size: 0.875rem;
        }

        .form_input {
          font-size: 0.875rem;
          margin: 10px 0 10px;
        }

        .form_input_wrapper {
          .inner_input_flags {
            width: 50px;
            font-size: 20px;
          }

          .inner_input_phone {
            width: calc(100% - 65px);
          }
        }
      }

      .terms {
        width: 90%;
        margin: auto auto -10px auto;
        font-size: 0.875rem;
      }
    }
  }
}
