@import "../../../styles/variables";

.accordion_container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 0 5%;
  margin: 90px auto 60px;
  max-width: 2000px;

  h3 {
    font-size: 34px;
    margin-bottom: 90px;
  }
}

.accordion_item {
  .arrow {
    width: 24px;
    height: 24px;
  }

  h2 {
    font-size: 18px;
  }
}

@media screen and (max-width: $lg) {
  .accordion_container {
    margin: 90px auto 100px;

    h3 {
      font-size: 30px;
      margin-bottom: 70px;
    }
  }

  .accordion_item {
    .arrow {
      width: 20px;
      height: 20px;
    }

    h2 {
      font-size: 16px;
    }
  }
}

@media screen and (max-width: $md) {
  .accordion_container {

    h3 {
      font-size: 26px;
      line-height: 36px;
      margin-bottom: 60px;
    }
  }

  .accordion_item {
    .arrow {
      width: 18px;
      height: 18px;
    }

    h2 {
      font-size: 14px;
    }
  }
}