@import "../../../styles/variables";

.explore_programs_container {
  padding: 150px 4% 0;
  max-width: 2000px;
  margin: auto auto 250px;
  width: 92%;
  text-align: center;

  .programs_list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    margin: 100px auto;
    justify-content: space-evenly;

    .program {
      width: calc(33% - 80px);
      text-align: left;
      margin: 50px 0 50px 50px;
      padding: 0 0 0 20px;
      border-left: 12px solid;

      h5 {
        font-size: 2rem;
        font-weight: 900;
        margin: 0;
        line-height: 36px;
      }

      p {
        font-size: 1.125rem;
        margin: 10px 0 0;
        width: 100%;
        max-width: 360px;
      }

      &__channel {
        border-color: #EC0905;
      }

      &__referral {
        border-color: #2562FF;
      }

      &__tech {
        border-color: #1CA34B;
      }

      &__alliances {
        border-color: #FFC019;
      }

      &__academic {
        border-color: #6C6CFE;
      }
    }
  }

  button {
    box-shadow: 0 3px 6px #00000029;
    background: transparent linear-gradient(90deg, #2562FF 0%, #20C8FD 100%) 0 0 no-repeat padding-box;
  }
}

@media screen and (max-width: $lg){
  .explore_programs_container {
    padding: 70px 4% 0;
    margin: auto auto 150px;

    .programs_list {
      margin: 50px auto 100px;

      .program {
        width: calc(49% - 80px);
        margin: 50px 0 30px 50px;

        h5 {
          font-size: 1.75rem;
          line-height: 32px;
        }
      }
    }
  }
}

@media screen and (max-width: $md){
  .explore_programs_container {
    padding: 40px 4% 100px;
    margin: auto auto 0;
    background-color: #F6F4F3;

    .programs_list {
      margin: 0 auto 100px;

      .program {
        width: 100%;
        margin: 40px 0 10px 0;

        p {
          font-size: 1.1rem;
          margin: 8px 0 0;
        }
      }
    }

    h3 {
      margin-bottom: 15px;
      font-size: 1.125rem;
    }
  }
}
