@import "../../../styles/variables";

.perks_container {
  padding: 170px 0 170px;
  margin: auto;
  text-align: center;
  background: url("../../../images/career/perks_background.webp") no-repeat;
  background-size: 100% 100%, cover;
  min-height: 1150px;
  height: 100%;
  width: 100%;

  .perks_grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 2000px;
    margin: 110px auto 0;

    .flex_auto{
      width: 31%;
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 50px 0;

      .item {
        height: 100px;
        width: 100px;
        box-shadow: 0 2px 4px #00000029;
        border-radius: 20px;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;

        &__blue {
          background: #2562FF 0 0 no-repeat padding-box;
        }
        &__lime {
          background: #DDF246 0 0 no-repeat padding-box;
        }
        &__orange {
          background: #FFC019 0 0 no-repeat padding-box;
        }
        &__green {
          background: #1CA34B 0 0 no-repeat padding-box;
        }
        &__red {
          background: #EC0905 0 0 no-repeat padding-box;
        }
        &__purple {
          background: #6C6CFE 0 0 no-repeat padding-box;
        }
      }

      .item_title {
        font-size: 2rem;
        font-weight: 900;
        line-height: 58px;
        margin-top: 20px;
      }
    }
  }
}

@media screen and (max-width: $lg) {
  .perks_container {
    padding: 130px 0 260px;
    min-height: 750px;

    .perks_grid {
      margin: 70px auto 0;

      .flex_auto {

        .item {
          height: 80px;
          width: 80px;
        }

        .item_title {
          font-size: 1.6rem;
          line-height: 48px;
        }
      }
    }
  }
}

@media screen and (max-width: $md){
  .perks_container {
    background-size: cover;
    background-position: top;
    padding: 90px 0 300px;
    min-height: 400px;

    .perks_grid {
      margin: 0 auto 0;

      .flex_auto {
        width: 100%;
        max-width: 250px;
        margin: 15px 0;

        .item {
          height: 66px;
          width: 66px;
        }

        .item_title {
          font-size: 1.25rem;
          line-height: 30px;
        }
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .perks_container {
    padding: 90px 0 390px;
  }
}

