@import "../../../styles/variables";

.partner_header_wrapper {
  background: transparent linear-gradient(180deg, #F6F4F3 0%, #FFFFFF 100%) 0 0 no-repeat padding-box;

  .partner_header_container {
    display: flex;
    align-items: center;
    max-width: 2000px;
    margin: auto;

    .partner_header_text {
      width: 45%;
      padding-left: 4%;
      margin-top: 50px;

      h1 {
        font-size: 3rem;
        text-align: left;
      }

      p {
        font-size: 1.125rem;
        line-height: 30px;
        margin-bottom: 30px;
        max-width: 490px;
      }

      button {
        box-shadow: 0 3px 6px #00000029;
        background: transparent linear-gradient(90deg, #2562FF 0%, #20C8FD 100%) 0 0 no-repeat padding-box;
      }
    }

    .partner_header_image {
      width: 55%;
      margin-right: -50px;
      z-index: 10;

      img {
        width: 100%;
      }
    }
  }

  .partner_header_overlay {
    display: none;
  }
}

@media screen and (min-width: 2000px) {
  .partner_header_wrapper {
    overflow: hidden;
    position: relative;

    .partner_header_overlay {
      display: flex;
      position: absolute;
      right: 0;
      top: calc(-5px - 0.07rem);
      height: 100%;
      min-width: var(--width);
      background-color: #6C6CFE;
      z-index: 2;
    }
  }
}

@media screen and (max-width: $lg) {
  .partner_header_wrapper {

    .partner_header_container {
      .partner_header_text {
        width: calc(45% - 20px);
        padding-right: 20px;

        h1 {
          font-size: 2.7rem;
          text-align: left;
        }
      }

      .partner_header_image {

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: left;
          min-height: 800px;
          padding: 0 0 40px;
        }
      }
    }
  }
}

@media screen and (max-width: $md) {
  .partner_header_wrapper {
    .partner_header_container {
      background-color: #F6F4F3;

      .partner_header_text {
        margin-top: 0;

        h1 {
          font-size: 1.875rem;
          margin: -15px 0 0px;
          white-space: pre;
        }

        p {
          font-size: 1rem;
          line-height: 28px;
        }
      }

      .partner_header_image {

        img {
          min-height: 700px;
          padding: 20px 0 0;
        }
      }
    }
  }
}

@media screen and (max-width: 340px) {
  .partner_header_wrapper {

    .partner_header_container {
      .partner_header_text {
        width: 50%;

        h1 {
          white-space: pre;
        }
      }
    }
  }
}
