@import "../../../styles/variables";

.future_container {
  height: auto;
  max-width: 910px;
  width: 100%;
  margin: 0 auto 24px;
  padding-top: 160px;
  text-align: center;

  h3 {
    max-width: 640px;
    margin-left: auto;
    margin-right: auto;
    font-weight: 500;
    margin-top: 35px;
  }
}

.future_images {
  padding-left: 4%;
  overflow: hidden;
  margin-bottom: -180px;
  margin-top: 70px;

  img {
    width: 100%;
    margin-right: -10%;
  }
}

@media screen and (max-width: $lg) {
  .future_container {
    margin: 50px auto 0;
    padding-top: 180px;
    text-align: center;

    h2 {
      max-width: 720px;
    }
  }
}

@media screen and (max-width: $md) {
  .future_container {
    max-width: 600px;
    width: 100%;
    margin: 50px auto 0;
    padding-top: 80px;
    text-align: center;


    h3 {
      max-width: 340px;
      font-weight: 700;
      margin-top: 25px;
    }
  }

  .future_images {
    margin-bottom: -100px;
    margin-top: 60px;
    margin-right: -25px;

  }
}
