
.news_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;


  .news_container {
    background: transparent radial-gradient(closest-side at 50% 50%, #F0FAF8 0%, #FFFFFF 100%) 0 0 no-repeat padding-box;
    background-size: 40% 400px, contain;
    background-position: top center;
    padding: 0 4% 0;
    max-width: 2000px;
    margin: 200px auto auto;
    min-height: 400px;

    .news_header {
      text-align: center;

      h3 {
        margin: 0 0 18px;
      }

      a {
        font-size: 1.125rem;
        font-weight: 100;
      }
    }

    .news {
      margin-top: 100px;
      max-width: 1400px;

      p {
        font-size: 1.125rem;
        margin-bottom: 30px;
        line-height: 34px;
      }
    }
  }
}