@import "../../../../styles/variables";

.milestone_card_container {
  display: flex !important;
  flex-direction: column;
  min-height: 350px;
  max-width: 815px;
  height: calc(100% - 100px);
  width: calc(100% - 120px) !important;
  margin: 120px auto 10px;
  background: #FFFFFF 0 0 no-repeat padding-box;
  box-shadow: 0 3px 6px #00000029;
  border-radius: 30px;
  opacity: 1;
  padding: 50px;
  //
  justify-content: center;

  h3 {
    font-size: 3rem;
    margin: 30px 0 10px;
  }

  h4 {
    font-size: 2rem;
    margin: 0;
  }

  p {
    font-size: 1.125rem;
    margin-top: 80px;
  }
}

@media screen and (max-width: $lg){
  .milestone_card_container {
    min-height: 300px;
    max-width: 650px;
    width: calc(80% - 80px) !important;
    margin: 50px auto 10px;

    h3 {
      font-size: 2.5rem;
      margin: 20px 0 10px;
    }

    h4 {
      font-size: 1.75rem;
    }

    p {
      font-size: 1.125rem;
    }
  }
}

@media screen and (max-width: $md){
  .milestone_card_container {
    min-height: 180px;
    width: calc(80% - 80px) !important;
    margin: 40px auto 10px;

    h3 {
      font-size: 1.5rem;
      margin: 20px 0 10px;
    }

    h4 {
      font-size: 1.125rem;
    }

    p {
      font-size: 0.75rem;
      margin-top: 50px;
    }
  }
}
