@import "../../styles/variables";

.footer {
  background: #FFFFFF;
  margin-top: auto;

  .footer_container {
    height: auto;
    min-height: 320px;
    display: grid;
    grid-template-columns: repeat(4, minmax(220px, 1fr));
    grid-gap: 2rem;
    padding: 70px 4% 30px;
    max-width: 2000px;
    margin: 0 auto;

    .flex_auto {
      flex: auto;
    }

    .footer_col {
      color: #000000;
      text-align: center;

      &:first-child {
        text-align: left;
        padding: 0 40px;
      }

      h4 {
        text-transform: uppercase;
        font-size: 1.5rem;
        margin-top: 0;
      }

      .icons_row {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: left;
        margin-left: -10px;

        img {
          margin: 15px 10px;
        }
      }

      .download_section {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-right: auto;
        justify-content: space-between;
        max-width: 310px;


        h5 {
          margin-bottom: 10px;
          color: #707070;
          font-size: 0.875rem;
          font-weight: 400;
          width: 100%;
        }

        a h5 {
          margin: 0 20px 0 0;
        }

        img {
          max-width: 143px;
          margin: 5px 0;
          width: calc(50% - 10px);
          min-width: 120px;
          height: auto;

          &:first-of-type {
            margin-left: 0;
            margin-right: 10px;
          }
        }
      }

      .footer_items {
        display: flex;
        flex-direction: column;

        a {
          font-size: 1.125rem;
          line-height: 34px;
          cursor: pointer;
          color: #000000;
          text-decoration: none;
        }
      }
    }
  }

  .footer_copyright {
    background: #FFFFFF;
    text-align: center;
    padding-bottom: 20px;
    color: #707070;
    font-size: 0.875rem;
  }
}

@media screen and (max-width: $lg) {
  .footer {
    .footer_container {
      grid-template-columns: repeat(2, minmax(220px, 1fr));
      grid-gap: 3rem 4rem;

      .footer_col {
        text-align: center;
        padding: 0;

        &:first-child {
          text-align: center;
          padding: 0;
          order: 4;
        }

        .icons_row {
          justify-content: center;
        }

        .select_container {
          margin: 5px auto 0;
        }

        .download_section {
          justify-content: center;
          flex-direction: row;
          flex-wrap: wrap;
          margin: auto;

          h5 {
            width: 100%;
          }

          img {
            &:first-of-type {
              margin-right: 10px;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: $md) {
  .footer {
    .footer_container {
      grid-template-columns: repeat(1, minmax(220px, 1fr));
      grid-gap: 2rem;

      .footer_col {

        .divider {
          height: 1px;
          width: 40px;
          background-color: #FFFFFF;
          margin: 10px auto;
        }

        &:first-child {
          margin-top: 20px;
        }

        .select_container {
          margin: 15px auto 0;
        }

        .download_section {
          h5 {
            width: 100%;
          }
        }
      }
    }

    .footer_copyright {
      color: #FFFFFF;
      font-size: 0.625rem;
    }
  }
}
