@import "../../styles/variables";

.blog_container {
  padding: 120px 4% 0;
  max-width: 2000px;
  margin: 0 auto;
  width: 92%;
}

.blog_hero_container {
  display: flex;
  box-shadow: 0 3px 6px #00000029;
  border-radius: 30px;
  min-height: 170px;
  max-height: 450px;

  img {
    height: 100%;
    width: 100%;
    object-position: center;
  }
}

.blog_content {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;

  .blog_left_section {
    display: flex;
    flex-direction: column;
    width: 51%;
    margin-right: auto;

    .blog_title {
      font-size: 3rem;
      margin-bottom: 1rem;
      margin-top: 2rem;
    }

    .blog_author_section {
      display: flex;
      flex-direction: row;
      width: 100%;
      justify-content: left;
      align-items: center;
      margin: 10px 0 20px;

      .author_avatar {
        border-radius: 50%;
        height: 75px;
        min-height: 75px;
        width: 75px;
        min-width: 75px;
        display: flex;

        img {
          height: 100%;
          width: 100%;
          object-fit: contain;
        }
      }

      .author_info {
        display: flex;
        flex-direction: column;
        margin: 0 30px;

        span {
          line-height: 26px;
          white-space: nowrap;
        }
      }

      .publish_date {
        padding: 0 30px;
        border-left: 1px solid #7070707F;
        border-right: 1px solid #7070707F;
        height: 70%;
        align-items: center;
        display: flex;
      }

      .reading_time {
        margin: 0 0 0 30px;
      }
    }

    .content_image {
      margin: 15px 0;
      border-radius: 30px;
    }
  }

  .blog_right_section {
    display: flex;
    flex-direction: column;
    width: 44%;
    margin-left: auto;

    .subsection_title {
      font-size: 1.8rem;
      margin-top: 2.5rem;
    }

    .tags_container {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;

      .tag {
        padding: 6px 20px;
        border: 1px solid #000000;
        border-radius: 20px;
        margin-right: 15px;
        margin-bottom: 20px;
        font-size: 0.875rem;
        text-decoration: none;
        color: #000000;
      }
    }

    .article {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      margin-top: 10px;
      text-decoration: none;

      &:not(:first-child) {
        margin-top: 2rem;
      }

      img {
        min-width: 210px;
        height: 210px;
        aspect-ratio: 16/9;
        object-fit: cover;
        object-position: center top;
        border-radius: 30px;
      }

      .article_description {
        margin-left: 1rem;
        color: #000000;

        h3 {
          margin: 0 0 10px 0;
        }
      }
    }
  }
}

.share_section {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  width: 51%;

  .symbols {
    display: flex;
    align-items: center;
    justify-content: space-between;

    a {
      margin-right: 10px;

      &:not(:first-child) {
        margin-left: 10px;
      }
    }

    img {
      width: 35px;
      height: 35px;
    }

    button.button_next_article {
      background: transparent linear-gradient(90deg, #2562FF 0%, #20C8FD 100%) 0 0 no-repeat padding-box;
      margin-left: 20px;
      max-width: 160px;
    }

    button.button_back {
      background: transparent;
      border: 1px solid #000000;
      color: black;
    }
  }
}

.newsletter_container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  margin: 100px auto 80px;
  max-width: 2000px;

  .newsletter_text {
    width: 50%;
    background: transparent radial-gradient(closest-side at 50% 50%, #ECFAFD 0%, #FFFFFF 100%) 0 0 no-repeat padding-box;

    h2 {
      font-size: 3rem;
    }
  }

  button {
    background: transparent linear-gradient(90deg, #2562FF 0%, #20C8FD 100%) 0 0 no-repeat padding-box;
    margin-right: 20px;
    width: 100%;
    max-width: 160px;
  }
}

@media screen and (max-width: $lg) {

  .blog_content {
    flex-direction: column;

    .blog_left_section {
      width: 100%;

      .blog_title {
        font-size: 2rem;
      }

      .blog_author_section {

        .author_avatar {
          height: 65px;
          min-height: 65px;
          width: 65px;
          min-width: 65px;
        }

        .author_info {
          display: flex;
          flex-direction: column;
          margin: 0 30px;

          span {
            line-height: 24px;
          }
        }
      }

      .content_image {
        max-height: 330px;
        border-radius: 30px;
      }
    }

    .blog_right_section {
      width: 100%;
      margin-top: 2rem;

      .subsection_title {
        font-size: 1.5rem;
        margin-top: 2.5rem;
        margin-bottom: 2rem;
      }

      .explore_section {
        order: 2;
        justify-content: center;
        width: 90%;
        margin: 2rem auto auto;
        text-align: center;

        h2 {
          margin-bottom: 15px;
        }

        .tags_container {
          justify-content: center;
        }
      }

      .more_articles_section {
        order: 1;

        .article {
          flex-direction: column;
        }

        .article_description {
          margin-top: 15px;
          margin-left: 0;
        }

        .related_articles_grid {
          display: grid;
          grid-template-columns: repeat(2, calc(50% - 10px));
          grid-gap: 20px;
        }
      }

    }
  }

  .share_section {
    margin-top: 1rem;
    width: 100%;
  }

  .newsletter_container {
    flex-direction: column;
    padding: 0;
    margin: 30px 15px;

    .newsletter_text {
      width: 100%;

      h2 {
        font-size: 2.5rem;
        text-align: center;
        max-width: 600px;
      }
    }

    .blog_title {
      font-size: 2.5rem;
    }
  }
}

@media screen and (max-width: $md) {
  .blog_container {
    padding: 70px 0 0;
    width: 100%;
  }

  .blog_hero_container {
    border-radius: 0;
  }

  .blog_content {
    padding: 0 4%;
    width: 92%;
  }

  .newsletter_container {
    padding: 0 4%;
    width: calc(92% - 30px);

    .newsletter_text {
      width: 100%;

      h2 {
        font-size: 1.875rem;
        text-align: center;
        max-width: 400px;
        margin-left: auto;
        margin-right: auto;
      }
    }
  }

  .blog_title {
    font-size: 1.875rem;
  }
}

@media screen and (max-width: $sm) {
  .blog_content {

    .blog_left_section {

      .blog_title {
        font-size: 1.5rem;
        margin-top: 1.5rem;
      }

      .blog_author_section {
        flex-wrap: wrap;

        .author_avatar {
          height: 55px;
          min-height: 55px;
          width: 55px;
          min-width: 55px;
        }

        .author_info {
          font-size: 14px;
          margin: 0 20px 0 15px;

          span {
            line-height: 22px;
          }
        }

        .publish_date {
          font-size: 13px;
          border-right: none;
          font-style: italic;
          padding: 5px 0 5px 20px;
          line-height: 18px;
        }

        .reading_time {
          display: none;
        }
      }

      .content_text {
        font-size: 14px
      }

      .content_image {
        margin: 5px 0;
      }
    }

    .blog_right_section {
      width: 100%;
      margin-top: 1rem;

      .subsection_title {
        font-size: 1.5rem;
        margin-top: 2.5rem;
        margin-bottom: 2rem;
      }

      .explore_section {
        order: 2;
        justify-content: center;
        width: 90%;
        margin: 10px auto auto;
        text-align: center;

        h2 {
          font-size: 22px;
          margin-bottom: 20px;
        }

        .tags_container {
          .tag {
            padding: 6px 15px;
            margin-right: 10px;
            margin-bottom: 15px;
            font-size: 0.75rem;
          }
        }
      }

      .more_articles_section {
        order: 1;

        .subsection_title {
          font-size: 22px;
          margin-bottom: 15px;
        }

        .article {
          flex-direction: column;

          img {
            min-width: 100%;
            height: 120px;
            aspect-ratio: 16/9;
            object-fit: cover;
            object-position: center top;
            border-radius: 20px;
          }
        }

        .article_description {
          margin-top: 15px;
          margin-left: 0;
          font-size: 12px;
        }

        .related_articles_grid {
          display: grid;
          grid-template-columns: repeat(2, calc(50% - 10px));
          grid-gap: 20px;
        }
      }
    }
  }

  .share_section {
    margin-top: 1rem;

    p {
      font-size: 0.875rem;
      text-align: center;
    }

    .symbols {
      flex-direction: column;
      align-items: center;

      & div:last-child {
        display: flex;
        width: 100%;
        justify-content: center;
        margin-top: 5px;
      }

      a {
        margin-right: 10px;

        &:not(:first-child) {
          margin-left: 10px;
        }
      }

      img {
        width: 24px;
        height: 24px;
      }

      button.button_next_article {
        font-size: 12px;
      }

      button.button_back {
        font-size: 12px;
      }
    }
  }

  .newsletter_container {
    flex-direction: column;
    margin: 30px 15px;

    .newsletter_text {

      h2 {
        font-size: 25px;
        line-height: 32px;
      }
    }

    .blog_title {
      font-size: 2.5rem;
    }
  }
}