@import "../../../styles/variables";

.broker_contact_container {
  background-image: url("../../../images/home/offer-background.webp");
  background-repeat: no-repeat;
  background-size: cover;
  max-height: 575px;
  height: 575px;
  padding-top: 90px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 80px;

  h2, h3 {
    color: #FFFFFF;
    text-align: center;
    max-width: 905px;
    width: 50%;
  }

  h2 {
    font-weight: 500;
    margin-top: 130px;
    strong {
      font-weight: 900;
    }
  }
}

@media screen and (max-width: $lg) {
  .broker_contact_container {
    max-height: 500px;
    height: 500px;
    margin-top: 0;

    h3 {
      max-width: 500px;
    }
  }
}

@media screen and (max-width: $md) {
  .broker_contact_container {
    max-height: 340px;
    height: 340px;
    padding-top: 50px;

    h3 {
      max-width: 400px;
      width: 70%;
      font-size: 16px;
      line-height: 26px;
    }
  }
}
