@import "../../../styles/variables";

.cards_row {
  display: flex;
  flex-direction: row;
  width: 96%;
  margin: 100px auto 150px;
  justify-content: center;

  .card_wrapper {
    position: relative;
    width: 27%;
    display: flex;
    justify-content: center;
    margin: 0 10px;

    .card_container {
      position: relative;
      background: #FFFFFF 0 0 no-repeat padding-box;
      box-shadow: 0 3px 6px #00000029;
      border-radius: 30px;
      max-width: 250px;
      width: 100%;
      padding: 50px 50px;

      .card_title {
        font-size: 1.75rem;
        font-weight: 900;
      }

      ul {
        margin: 20px 0 0;
      }

      li {
        color: #000000;
        font-size: 1.125rem;
        margin: 7px 0;
      }
    }

    img {
      max-width: 210px;
      z-index: -1;
    }

    .image {
      &__ylYellow {
        position: absolute;
        right: -140px;
        top: 30px;
      }

      &__ylRed {
        position: absolute;
        top: 40%;
        right: -60px;
      }

      &__ylLime {
        position: absolute;
        bottom: -80px;
        right: -40px;
      }

      &__ylBlue {
        position: absolute;
        top: -50px;
        left: -120px;
      }
    }
  }
}

@media screen and (max-width: $lg) {
  .cards_row {
    width: 100%;
    margin: 70px auto 100px;
    justify-content: space-around;
    flex-wrap: wrap;

    .card_wrapper {
      position: relative;
      width: 31%;
      display: flex;
      justify-content: center;
      margin: 30px 3px;

      .card_container {
        position: relative;
        max-width: 100%;
        max-height: 100%;
        min-width: calc(100% / 3);
        padding: 30px;

        .card_title {
          font-size: 1.4rem;
          line-height: 28px;
        }

        li {
          font-size: 1rem;
        }
      }

      img {
        max-width: 160px;
        z-index: -1;
      }
    }
  }

}

@media screen and (max-width: $md) {
  .cards_row {
    margin: 70px auto 70px;
    flex-direction: column;
    justify-content: center;

    .card_wrapper {
      width: calc(100% - 20px);
      margin: 15px 5px;

      .card_container {
        max-width: 250px;
        min-height: 250px;

        .card_title {
          font-size: 1.25rem;
          line-height: 27px;
        }

        li {
          font-size: 14px;
        }
      }

      img {
        max-width: 200px;
      }

      .image {
        &__ylYellow {
          position: absolute;
          right: -80px;
          top: unset;
          bottom: -50px;
        }

        &__ylRed {
          position: absolute;
          bottom: -70px;
          right: -70px;
        }

        &__ylLime {
          position: absolute;
          top: unset;
          bottom: -80px;
          right: unset;
          left: -100px;
        }

        &__ylBlue {
          top: -50px;
          left: -100px;
        }
      }
    }
  }
}
