@import "../../../styles/variables";

.tabs_container {
  padding: 180px 4% 0;
  max-width: 2000px;
  margin: 0 auto;
  width: 92%;

  .tabs {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    box-shadow: 0 3px 6px #00000029;
    border-radius: 30px;
    opacity: 1;
    padding: 4% 3%;
    min-height: 500px;
    justify-content: space-between;
    margin-top: 50px;

    .tab_text {
      width: 48%;
      height: 100%;
      min-height: auto;
      //min-height: 500px;
      display: flex;
      flex-direction: column;

      .tabs_grid {
        display: grid;
        grid-template-columns: repeat(3, minmax(150px, 1fr));
        grid-template-rows: repeat(1, 1fr);
        grid-gap: 20px;
        margin-bottom: 80px;
        cursor: pointer;
        white-space: pre;
      }

      .tab_content {
        height: 100%;

        h2 {
          margin-bottom: 7%;
          margin-right: 0;
          margin-left: 0;
        }

        p, a {
          font-size: 1.125rem;
          line-height: 30px;
          padding-right: 10%;
          padding-bottom: 45px;

          &:not(:first-of-type) {
            margin-top: 25px;
          }
        }

        .link {
          text-decoration: underline;
        }
      }
    }

    .tab_image {
      width: 50%;
      text-align: center;
      vertical-align: middle;
      align-self: center;
      padding-top: 50px;
      //max-height: 450px;

      & > div {
        display: flex;
      }

      img {
        width: 100%;
        object-fit: contain !important;
        //max-height: 400px;
      }
    }

    .tab_button {
      margin-top: -45px;
      height: 100%;
    }
  }

  .active_tab {
    font-weight: 600;
    text-decoration: underline;
  }

  &__tracking {
    .tabs {
      background: #F6F4F3 0 0 no-repeat padding-box;

      .tab_button {
        background: transparent linear-gradient(90deg, #FFC019 0%, #FDD66D 100%) 0 0 no-repeat padding-box;
        color: #000000;
      }
    }
  }

  &__network {
    .tabs {
      background: #ECFAFD 0 0 no-repeat padding-box;

      .tab_button {
        background: transparent linear-gradient(90deg, #2562FF 0%, #20C8FD 100%) 0 0 no-repeat padding-box;
      }
    }
  }

  &__express {
    .tabs {
      background: #E5FAF3 0 0 no-repeat padding-box;

      .tab_button {
        background: transparent linear-gradient(90deg, #1CA34B 0%, #8FE62D 100%) 0 0 no-repeat padding-box;
      }
    }
  }
}

@media screen and (max-width: $lg) {
  .tabs_container {
    padding: 120px 4% 4%;

    .tabs {
      display: flex;
      flex-direction: column;
      margin: 20px 15px 0;
      padding: 40px 15px 30px;
      min-height: 500px;

      .tab_text {
        width: 70%;
        height: 100%;
        display: flex;
        flex-direction: column;
        margin: auto auto 30px;

        .tabs_grid {
          margin-bottom: 60px;
        }

        .tab_content {
          p {
            font-size: 1rem;
            line-height: 24px;
            padding-right: 0;
          }
        }
      }

      .tab_image {
        width: 70%;
        padding-top: 0;
      }

      .tab_button {
        margin-top: 30px;
        align-self: center;
        max-width: 70%;
        padding: 10px 25px;
      }
    }
  }
}

@media screen and (max-width: $md) {
  .tabs_container {
    padding: 100px 4% 20px;

    .tabs {
      width: 90%;
      margin: 20px auto 0;
      padding: 40px 3% 30px;

      .tab_text {
        width: calc(100% - 30px);
        margin: auto 15px 30px;

        .tabs_grid {
          grid-template-columns: repeat(auto-fill, minmax(130px, auto));
          grid-gap: 10px 15px;
          margin-bottom: 50px;
          font-size: 0.875rem;
        }

        .tab_content {
          h2 {
            margin-bottom: 30px;
          }

          p {
            font-size: 0.875rem;
            line-height: 22px;
          }
        }
      }

      .tab_image {
        width: 100%;
      }

      .tab_button {
        max-width: 90%;
      }
    }
  }
}
