@import "../../styles/variables";

.broker_container {
  padding: 200px 4% 0;
  max-width: 2000px;
  margin: auto;
  width: 92%;

  .broker_subtitle_container {
    margin: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 700px;
    background: transparent radial-gradient(closest-side at 50% 50%, #F0FAF8 0%, #FFFFFF 100%) 0 0 no-repeat padding-box;
    padding-bottom: 100px;

    h3 {
      font-size: 20px;
      margin: 30px auto;
      text-align: center;
    }

    button {
      background: transparent linear-gradient(90deg, #2562FF 0%, #20C8FD 100%) 0 0 no-repeat padding-box;
    }
  }
}

@media screen and (max-width: $lg) {
  .broker_container {
    padding: 130px 4% 0;

    .broker_subtitle_container {
      h3 {
        font-size: 16px;
        margin: 10px auto 20px;
      }
    }
  }
}

@media screen and (max-width: $md) {
  .broker_container {

    .broker_subtitle_container {
      padding-bottom: 80px;

      h3 {
        font-size: 14px;
        margin: 10px auto 20px;
        line-height: 22px;
      }

      button {
        padding-right: 10px 20px;
        font-size: 13px;
      }
    }
  }
}