@import "../../../styles/variables";

.mobile_navbar_container {
  background-color: #FBFBFC;
  min-height: calc(100vh - 120px);
  height: 100%;
  width: calc(100vw - 20px);
  position: fixed;
  top: 69px;
  left: 0;
  display: flex;
  flex-direction: column;
  padding: 20px 10px 30px;
  overflow-y: auto;

  .menu_links {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-left: 0;
    margin-bottom: 50px;

    & a {
      font-size: 1.3rem;
      margin: 10px 0;
      color: #000000;
      font-weight: 400;
      text-decoration: none;
    }
  }

  .buttons {
    display: flex;
    width: 100%;
    justify-content: center;

    & a {
      border-radius: 20px;
      padding: 6px 22px;
      border: 1px solid #000000;
      background-color: transparent;
      text-decoration: none;
      color: #000000;
      text-align: center;

      &:hover {
        font-weight: 400;
      }

      &:first-child {
        background-color: #FFC019;
        border-color: #FFC019;
      }

      &:last-child {
        margin-left: 10px;
        color: #FFFFFF;
        border: 1px solid #2562FF;
        background: #2562FF;
      }
    }
  }

  .select_container {
    position: relative;
    align-self: center;
    margin: 20px auto 0;

    .selectLanguage {
      color: #231F20;
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      border-radius: 20px;

      img {
        margin-right: 10px;
      }
    }

    ul {
      background-color: #FFFFFF;
      bottom: -120px;
      color: #231F20;
      left: calc(50% - 80px);
      padding: 10px 30px;
      box-shadow: 0 3px 6px #00000029;
      border-radius: 10px;
      max-width: 130px;

      li {
        text-align: left;
        margin: 15px 0;

        img {
          margin-right: 10px;
        }
      }
    }
  }

  .download_section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 10px;

    h5 {
      width: 100%;
      text-align: center;
      color: #707070;
      font-size: 1.125rem;
      margin-bottom: 15px;
      font-weight: 400;
    }

    img {
      max-width: 140px;
      width: 100%;
      margin: 5px 10px;
    }
  }
}

.display {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
  transition: all .3s ease-in;
}

.display_none {
  visibility: hidden;
  height: 0;
  opacity: 0;
  transition: all .3s ease-out;
}

@media screen and (max-width: $sm) {
  .mobile_navbar_container {
    .menu_links {

      & a {
        font-size: 1.25rem;
        margin: 10px 0;
      }
    }

    .select_container {
      margin: 20px auto 0;
    }

    .download_section {
      h5 {
        font-size: 0.875rem;
        margin-bottom: 10px;
      }

      img {
        width: 120px;
        margin: 5px 7px;
      }
    }
  }
}
