@import "../../../../styles/variables";

@media screen and (min-width: 2100px) {
  .screens_container {
    .screens {
      li {
        max-width: 1000px !important;
        margin-top: -80px;
        margin-right: -40px;
      }
    }
  }
}

@keyframes changeZIndex {
  50% {
    z-index: var(--index);
    transform-style: flat;
  }
}
